@page "/hakkimizda/{seoUrl}"
@model UI.Pages.AboutArticle.AboutArticleSingle

@{
    ViewData["Title"] = Model.AboutArticle.Title;
}

@section HeaderTitle
{
    <!-- Page Title
    ============================================= -->
    <section id="page-title">

        <div class="container">
            <h1>Hakkımızda</h1>
            <span>@Model.AboutArticle.Title</span>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Anasayfa</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@Model.AboutArticle.Title</li>
            </ol>
        </div>

    </section><!-- #page-title end -->
}

<!-- Post Content
============================================= -->
<div class="postcontent col-lg-8 container">

    <div class="single-post mb-0">

        <!-- Single Post
        ============================================= -->
        <div class="entry">

            <!-- Entry Title
            ============================================= -->
            <div class="entry-title">
                <h1 class="clearfix">@Model.AboutArticle.Title</h1>
            </div><!-- .entry-title end -->

            <!-- Entry Content
            ============================================= -->
            <div class="entry-content mt-0">
                @Html.Raw(Model.AboutArticle.Content)
            </div>
        </div><!-- .entry end -->

    </div>

</div><!-- .postcontent end -->