@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <!-- Hero Area
    ============================================= -->
    <div class="row border-between">
        @await Component.InvokeAsync("NewsComponent")
        @await Component.InvokeAsync("AnnouncementComponent")
    </div> <!-- Hero Area End -->

</div>

<div class="container">
    <!-- Subscribe Section
    ============================================= -->
    <div class="section section-colored rounded px-4">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5">
                <h3 class="mb-4 mb-lg-0">Güncellemeleri ve duyuruları kaçırma!</h3>
            </div>
            <div class="col-lg-6">
                <div class="widget subscribe-widget" data-loader="button">

                    <div class="widget-subscribe-form-result"></div>
                    <form id="widget-subscribe-form" action="include/subscribe.php" method="post" class="mb-0 d-flex">
                        <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control form-control-lg not-dark required email" placeholder="Email adresi">
                        <button class="button button-large button-black button-dark font-weight-medium ls0 button-rounded m-0 ml-3" type="submit">Şimdi Abone Ol</button>
                    </form>
                </div>
            </div>
        </div>
    </div> <!-- Subscribe Section End -->
</div>

<div class="section dark" style="padding: 100px 0;">

    <div class="container">
        <div class="heading-block mw-xs mx-auto text-center mb-6">
            <h3 class="text-white nott ls0">Hızlı Erişim</h3>
        </div>
        <div class="row services-grid gutter-30 position-relative">
            <div style="background-image: url(assets/demos/finance/images/grid.svg); position: absolute; top: 50%; left: 50%; width: 50vw; height: 50vh; opacity: .15; transform: translate(-50%, -50%);"></div>
            <img class="op-05" src="assets/demos/finance/images/grid.svg" alt="Grid Image" style="position: absolute; left: -20px; top: -30px; z-index: -1;">

            <div class="col-lg-4 col-md-6 d-flex align-self-stretch">
                <div class="feature-box flex-column h-shadow mx-0" style="background-image: linear-gradient(#2646532b, #264653f7), url('assets/demos/finance/images/services/1.jpg')">
                    <a href="#">
                        <div class="fbox-icon mb-4">
                            <i class="icon-line-dollar-sign color-2"></i>
                        </div>
                        <div class="fbox-content">
                            <h4 class="font-body font-weight-semibold h4 mb-4 mt-2 ls0 nott">Financial Services</h4>
                            <p>Globally mesh multifunctional without competitive benefits. Synergistically procrastinate effective.</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-self-stretch">
                <div class="feature-box flex-column h-shadow mx-0" style="background-image: linear-gradient(#2646532b, #264653f7), url('assets/demos/finance/images/services/2.jpg')">
                    <a href="#">
                        <div class="fbox-icon mb-4">
                            <i class="icon-line-paper color-2"></i>
                        </div>
                        <div class="fbox-content">
                            <h4 class="font-body font-weight-semibold h4 mb-4 mt-2 ls0 nott"> Audit &amp; Taxes</h4>
                            <p>Appropriately parallel task mission-critical communities after team building quality vectors seamlessly promote.</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-self-stretch">
                <div class="feature-box flex-column h-shadow mx-0" style="background-image: linear-gradient(#264653A8, #264653), url('assets/demos/finance/images/services/3.jpg')">
                    <a href="#">
                        <div class="fbox-icon mb-4">
                            <i class="icon-line-flag color-2"></i>
                        </div>
                        <div class="fbox-content">
                            <h4 class="font-body font-weight-semibold h4 mb-4 mt-2 ls0 nott"> Business Planning</h4>
                            <p>Globally deploy cost effective internal, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est.</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-self-stretch">
                <div class="feature-box flex-column h-shadow mx-0" style="background-image: linear-gradient(#26465398, #264653), url('assets/demos/finance/images/services/4.jpg')">
                    <a href="#">
                        <div class="fbox-icon mb-4">
                            <i class="icon-line-users color-2"></i>
                        </div>
                        <div class="fbox-content">
                            <h4 class="font-body font-weight-semibold h4 mb-4 mt-2 ls0 nott">Acountants Experts</h4>
                            <p>Globally mesh multifunctional without competitive benefits. Synergistically procrastinate effective.</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-self-stretch">
                <div class="feature-box flex-column h-shadow mx-0" style="background-image: linear-gradient(#264653A8, #264653), url('assets/demos/finance/images/services/5.jpg')">
                    <a href="">
                        <div class="fbox-icon mb-4">
                            <i class="icon-line-globe color-2"></i>
                        </div>
                        <div class="fbox-content">
                            <p>Appropriately parallel task mission-critical communities after team building quality vectors seamlessly promote.</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-self-stretch">
                <div class="feature-box flex-column h-shadow mx-0" style="background-image: linear-gradient(#26465398, #264653), url('assets/demos/finance/images/services/6.jpg')">
                    <a href="">
                        <div class="fbox-icon mb-4">
                            <i class="icon-line-briefcase color-2"></i>
                        </div>
                        <div class="fbox-content">
                            <h4 class="font-body font-weight-semibold h4 mb-4 mt-2 ls0 nott"> Stocks &amp; Trades</h4>
                            <p>Globally deploy cost effective internal, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est.</p>
                        </div>
                    </a>
                </div>
            </div>
            <img src="assets/demos/finance/images/grid.svg" alt="Grid Image" class="op-05" style="position: absolute; right: -20px; bottom: 0; z-index: -1;">

        </div>
    </div>

</div>

<div class="container">

    <!-- Video Section
    ============================================= -->
    <div class="d-flex justify-content-between mb-4">
        <h3 class="font-secondary font-weight-medium m-0">Adıyaman ESOB TV</h3>
        <a href="#" class="btn btn-sm btn-outline-secondary">Devamı <i class="icon-line-arrow-right"></i></a>
    </div>

    <div class="row posts-md col-mb-30">
        <div class="col-md-4">
            <article class="entry border-bottom-0 mb-0">
                <div class="entry-image">
                    <a href="https://www.youtube.com/watch?v=P3Huse9K6Xs" data-lightbox="iframe">
                        <img src="assets/demos/blog/images/video-thumbs/1.jpg" alt="Image 3">
                        <div class="play-icon"><i class="icon-play"></i>Watch</div>
                    </a>
                </div>
                <div class="entry-title title-sm">
                    <h3>
                        <a href="demo-blog-single.html" class="color-underline">The Best Destinations in Asia for Solo Travel</a>
                    </h3>
                </div>
                <div class="entry-meta">
                    <ul>
                        <li>
                            <a href="#">Mar 11, 2016</a>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
        <div class="col-md-4">
            <article class="entry border-bottom-0 mb-0">
                <div class="entry-image">
                    <a href="https://www.youtube.com/watch?v=P3Huse9K6Xs" data-lightbox="iframe">
                        <img src="assets/demos/blog/images/video-thumbs/2.jpg" alt="Image 3">
                        <div class="play-icon"><i class="icon-play"></i>Watch</div>
                    </a>
                </div>
                <div class="entry-title title-sm">
                    <h3>
                        <a href="demo-blog-single.html" class="color-underline">10 Trendy Fashion Instagram Profile You Need to Follow</a>
                    </h3>
                </div>
                <div class="entry-meta">
                    <ul>
                        <li>
                            <a href="#">Mar 11, 2016</a>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
        <div class="col-md-4">
            <article class="entry border-bottom-0 mb-0">
                <div class="entry-image">
                    <a href="https://www.youtube.com/watch?v=P3Huse9K6Xs" data-lightbox="iframe">
                        <img src="assets/demos/blog/images/video-thumbs/3.jpg" alt="Image 3">
                        <div class="play-icon"><i class="icon-play"></i>Watch</div>
                    </a>
                </div>
                <div class="entry-title title-sm">
                    <h3>
                        <a href="demo-blog-single.html" class="color-underline">23 Top Travel Bloggers Who Inspire Us To Travel</a>
                    </h3>
                </div>
                <div class="entry-meta">
                    <ul>
                        <li>
                            <a href="#">Mar 11, 2016</a>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
    </div> <!-- Video Section End -->
</div>

@await Component.InvokeAsync("BlogComponent")

<div class="container clearfix">

    <div class="row col-mb-80">
        @await Component.InvokeAsync("FaqComponent")

        <div class="sidebar col-lg-3">
            <div class="sidebar-widgets-wrap">

                <div class="widget widget_links clearfix">

                    <h4>Sayfalar</h4>
                    @await Component.InvokeAsync("PagesComponent")

                </div>

                @await Component.InvokeAsync("LastBlogComponent")

                <div class="widget clearfix">

                    <h4>Sosyal Medya Hesaplarımız</h4>
                    <a href="#" class="social-icon si-colored si-small si-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>

                    <a href="#" class="social-icon si-colored si-small si-linkedin" data-toggle="tooltip" data-placement="top" title="Linked In">
                        <i class="icon-linkedin"></i>
                        <i class="icon-linkedin"></i>
                    </a>

                    <a href="#" class="social-icon si-colored si-small si-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>

                    <a href="#" class="social-icon si-colored si-small si-youtube" data-toggle="tooltip" data-placement="top" title="Youtube">
                        <i class="icon-youtube"></i>
                        <i class="icon-youtube"></i>
                    </a>

                    <a href="#" class="social-icon si-colored si-small si-instagram" data-toggle="tooltip" data-placement="top" title="Instagram">
                        <i class="icon-instagram"></i>
                        <i class="icon-instagram"></i>
                    </a>

                </div>

            </div>
        </div><!-- .sidebar end -->
    </div>

</div>

@section Scripts
{
    <script>
            jQuery(window).on('load', function () {
                var swiperParent = new Swiper('.swiper-parent', {
                    slidesPerView: 1,
                    pagination: {
                        clickable: false
                    },
                    grabCursor: true,
                    navigation: {
                        prevEl: '.slider-arrow-left',
                        nextEl: '.slider-arrow-right'
                    },
                });
            });
        </script>
}