@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <!-- Hero Area
    ============================================= -->
    <div class="row border-between">
        @await Component.InvokeAsync("NewsComponent")
        <div class="col-lg-4">
            <h2 class="font-secondary font-weight-medium mb-4 h2">Duyurular</h2>

            <div class="row posts-md col-mb-30">
                <article class="entry col-12">
                    <div class="grid-inner row gutter-20">
                        <div class="entry-image col-md-4">
                            <a href="demo-blog-single.html">
                                <img src="assets/demos/blog/images/hero/1.jpg" alt="Image">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="entry-title title-xs">
                                <h3>
                                    <a href="demo-blog-single.html" class="stretched-link color-underline">SGK İl Müdürlüğünden ziyaret</a>
                                </h3>
                            </div>
                            <div class="entry-meta">
                                <ul>
                                    <li>
                                        <a href="#">Mar 11, 2016</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="entry col-12">
                    <div class="grid-inner row gutter-20">
                        <div class="entry-image col-md-4">
                            <a href="demo-blog-single.html">
                                <img src="assets/demos/blog/images/hero/2.jpg" alt="Image">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="entry-title title-xs">
                                <h3>
                                    <a href="demo-blog-single.html" class="stretched-link color-underline">Esnaf ve Sanatkârlar Odaları Birliğinden, Aşı kampanyasına destek</a>
                                </h3>
                            </div>
                            <div class="entry-meta">
                                <ul>
                                    <li>
                                        <a href="#">Mar 11, 2016</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="entry col-12">
                    <div class="grid-inner row gutter-20">
                        <div class="entry-image col-md-4">
                            <a href="demo-blog-single.html">
                                <img src="assets/demos/blog/images/hero/3.jpg" alt="Image">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="entry-title title-xs">
                                <h3>
                                    <a href="demo-blog-single.html" class="stretched-link color-underline">“Servis Aracı Şoförü” (MYK) Belge Takdim Töreni gerçekleştirildi.</a>
                                </h3>
                            </div>
                            <div class="entry-meta">
                                <ul>
                                    <li>
                                        <a href="#">Mar 11, 2016</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="entry col-12">
                    <div class="grid-inner row gutter-20">
                        <div class="entry-image col-md-4">
                            <a href="demo-blog-single.html">
                                <img src="assets/demos/blog/images/hero/4.jpg" alt="Image">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="entry-title title-xs">
                                <h3>
                                    <a href="demo-blog-single.html" class="stretched-link color-underline">13. Ahilik Haftası Töreni Tedbirler kapsamında kutlandı.</a>
                                </h3>
                            </div>
                            <div class="entry-meta">
                                <ul>
                                    <li>
                                        <a href="#">Mar 11, 2016</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>

                <!-- <article class="entry col-12">
                    <div class="grid-inner row gutter-20">
                        <div class="entry-image col-md-4">
                            <a href="demo-blog-single.html"><img src="assets/demos/blog/images/hero/1.jpg" alt="Image"></a>
                        </div>
                        <div class="col-md-8">
                            <div class="entry-title title-xs">
                                <h3><a href="demo-blog-single.html" class="stretched-link color-underline">Esnaf ve Sanatkârlar Odaları Birliğinden, Aşı kampanyasına destek</a></h3>
                            </div>
                            <div class="entry-meta">
                                <ul>
                                    <li><a href="#">Mar 11, 2016</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article> -->
            </div>

        </div>
    </div> <!-- Hero Area End -->

</div>

<div class="container">
    <!-- Subscribe Section
    ============================================= -->
    <div class="section section-colored rounded px-4">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5">
                <h3 class="mb-4 mb-lg-0">Güncellemeleri ve duyuruları kaçırma!</h3>
            </div>
            <div class="col-lg-6">
                <div class="widget subscribe-widget" data-loader="button">

                    <div class="widget-subscribe-form-result"></div>
                    <form id="widget-subscribe-form" action="include/subscribe.php" method="post" class="mb-0 d-flex">
                        <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control form-control-lg not-dark required email" placeholder="Email adresi">
                        <button class="button button-large button-black button-dark font-weight-medium ls0 button-rounded m-0 ml-3" type="submit">Şimdi Abone Ol</button>
                    </form>
                </div>
            </div>
        </div>
    </div> <!-- Subscribe Section End -->
</div>

<div class="section dark" style="padding: 100px 0;">

    <div class="container">
        <div class="heading-block mw-xs mx-auto text-center mb-6">
            <h3 class="text-white nott ls0">Hızlı Erişim</h3>
        </div>
        <div class="row services-grid gutter-30 position-relative">
            <div style="background-image: url(assets/demos/finance/images/grid.svg); position: absolute; top: 50%; left: 50%; width: 50vw; height: 50vh; opacity: .15; transform: translate(-50%, -50%);"></div>
            <img class="op-05" src="assets/demos/finance/images/grid.svg" alt="Grid Image" style="position: absolute; left: -20px; top: -30px; z-index: -1;">

            <div class="col-lg-4 col-md-6 d-flex align-self-stretch">
                <div class="feature-box flex-column h-shadow mx-0" style="background-image: linear-gradient(#2646532b, #264653f7), url('assets/demos/finance/images/services/1.jpg')">
                    <a href="#">
                        <div class="fbox-icon mb-4">
                            <i class="icon-line-dollar-sign color-2"></i>
                        </div>
                        <div class="fbox-content">
                            <h4 class="font-body font-weight-semibold h4 mb-4 mt-2 ls0 nott">Financial Services</h4>
                            <p>Globally mesh multifunctional without competitive benefits. Synergistically procrastinate effective.</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-self-stretch">
                <div class="feature-box flex-column h-shadow mx-0" style="background-image: linear-gradient(#2646532b, #264653f7), url('assets/demos/finance/images/services/2.jpg')">
                    <a href="#">
                        <div class="fbox-icon mb-4">
                            <i class="icon-line-paper color-2"></i>
                        </div>
                        <div class="fbox-content">
                            <h4 class="font-body font-weight-semibold h4 mb-4 mt-2 ls0 nott"> Audit &amp; Taxes</h4>
                            <p>Appropriately parallel task mission-critical communities after team building quality vectors seamlessly promote.</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-self-stretch">
                <div class="feature-box flex-column h-shadow mx-0" style="background-image: linear-gradient(#264653A8, #264653), url('assets/demos/finance/images/services/3.jpg')">
                    <a href="#">
                        <div class="fbox-icon mb-4">
                            <i class="icon-line-flag color-2"></i>
                        </div>
                        <div class="fbox-content">
                            <h4 class="font-body font-weight-semibold h4 mb-4 mt-2 ls0 nott"> Business Planning</h4>
                            <p>Globally deploy cost effective internal, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est.</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-self-stretch">
                <div class="feature-box flex-column h-shadow mx-0" style="background-image: linear-gradient(#26465398, #264653), url('assets/demos/finance/images/services/4.jpg')">
                    <a href="#">
                        <div class="fbox-icon mb-4">
                            <i class="icon-line-users color-2"></i>
                        </div>
                        <div class="fbox-content">
                            <h4 class="font-body font-weight-semibold h4 mb-4 mt-2 ls0 nott">Acountants Experts</h4>
                            <p>Globally mesh multifunctional without competitive benefits. Synergistically procrastinate effective.</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-self-stretch">
                <div class="feature-box flex-column h-shadow mx-0" style="background-image: linear-gradient(#264653A8, #264653), url('assets/demos/finance/images/services/5.jpg')">
                    <a href="">
                        <div class="fbox-icon mb-4">
                            <i class="icon-line-globe color-2"></i>
                        </div>
                        <div class="fbox-content">
                            <p>Appropriately parallel task mission-critical communities after team building quality vectors seamlessly promote.</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-self-stretch">
                <div class="feature-box flex-column h-shadow mx-0" style="background-image: linear-gradient(#26465398, #264653), url('assets/demos/finance/images/services/6.jpg')">
                    <a href="">
                        <div class="fbox-icon mb-4">
                            <i class="icon-line-briefcase color-2"></i>
                        </div>
                        <div class="fbox-content">
                            <h4 class="font-body font-weight-semibold h4 mb-4 mt-2 ls0 nott"> Stocks &amp; Trades</h4>
                            <p>Globally deploy cost effective internal, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est.</p>
                        </div>
                    </a>
                </div>
            </div>
            <img src="assets/demos/finance/images/grid.svg" alt="Grid Image" class="op-05" style="position: absolute; right: -20px; bottom: 0; z-index: -1;">

        </div>
    </div>

</div>

<div class="container">

    <!-- Video Section
    ============================================= -->
    <div class="d-flex justify-content-between mb-4">
        <h3 class="font-secondary font-weight-medium m-0">Adıyaman ESOB TV</h3>
        <a href="#" class="btn btn-sm btn-outline-secondary">Devamı <i class="icon-line-arrow-right"></i></a>
    </div>

    <div class="row posts-md col-mb-30">
        <div class="col-md-4">
            <article class="entry border-bottom-0 mb-0">
                <div class="entry-image">
                    <a href="https://www.youtube.com/watch?v=P3Huse9K6Xs" data-lightbox="iframe">
                        <img src="assets/demos/blog/images/video-thumbs/1.jpg" alt="Image 3">
                        <div class="play-icon"><i class="icon-play"></i>Watch</div>
                    </a>
                </div>
                <div class="entry-title title-sm">
                    <h3>
                        <a href="demo-blog-single.html" class="color-underline">The Best Destinations in Asia for Solo Travel</a>
                    </h3>
                </div>
                <div class="entry-meta">
                    <ul>
                        <li>
                            <a href="#">Mar 11, 2016</a>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
        <div class="col-md-4">
            <article class="entry border-bottom-0 mb-0">
                <div class="entry-image">
                    <a href="https://www.youtube.com/watch?v=P3Huse9K6Xs" data-lightbox="iframe">
                        <img src="assets/demos/blog/images/video-thumbs/2.jpg" alt="Image 3">
                        <div class="play-icon"><i class="icon-play"></i>Watch</div>
                    </a>
                </div>
                <div class="entry-title title-sm">
                    <h3>
                        <a href="demo-blog-single.html" class="color-underline">10 Trendy Fashion Instagram Profile You Need to Follow</a>
                    </h3>
                </div>
                <div class="entry-meta">
                    <ul>
                        <li>
                            <a href="#">Mar 11, 2016</a>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
        <div class="col-md-4">
            <article class="entry border-bottom-0 mb-0">
                <div class="entry-image">
                    <a href="https://www.youtube.com/watch?v=P3Huse9K6Xs" data-lightbox="iframe">
                        <img src="assets/demos/blog/images/video-thumbs/3.jpg" alt="Image 3">
                        <div class="play-icon"><i class="icon-play"></i>Watch</div>
                    </a>
                </div>
                <div class="entry-title title-sm">
                    <h3>
                        <a href="demo-blog-single.html" class="color-underline">23 Top Travel Bloggers Who Inspire Us To Travel</a>
                    </h3>
                </div>
                <div class="entry-meta">
                    <ul>
                        <li>
                            <a href="#">Mar 11, 2016</a>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
    </div> <!-- Video Section End -->
</div>

<!-- Dark Section Spotlight
============================================= -->
<div class="section dark">
    <div class="container">
        <h2 class="font-secondary font-weight-medium">Blog Yazıları</h2>
        <div class="row border-between">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <!-- Post Article -->
                <article class="entry border-bottom-0 mb-0">
                    <div class="entry-image">
                        <a href="demo-blog-single.html">
                            <img src="assets/demos/blog/images/hero/full/5.jpg" alt="Image 3">
                        </a>
                    </div>
                    <div class="entry-title">
                        <h3>
                            <a href="demo-blog-single.html" class="stretched-link color-underline">Statement from Vice President Joe Biden on Record Number of Americans Filing for Unemployment</a>
                        </h3>
                    </div>
                    <div class="entry-meta">
                        <ul>
                            <li>
                                <a href="#">Mar 11, 2016</a>
                            </li>
                        </ul>
                    </div>
                    <div class="entry-content">
                        <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam esse beatae hic perferendis. Lorem ipsum dolor sit amet.</p>
                    </div>
                </article>
            </div>

            <div class="col-lg-5">
                <h3 class="font-secondary font-weight-medium mb-4 h4">Öne Çıkanlar</h3>

                <div class="row posts-md col-mb-30">
                    <article class="entry col-12">
                        <div class="grid-inner row gutter-20">
                            <div class="entry-image col-md-4">
                                <a href="demo-blog-single.html">
                                    <img src="assets/demos/blog/images/hero/2.jpg" alt="Image">
                                </a>
                            </div>
                            <div class="col-md-8">
                                <div class="entry-title title-xs">
                                    <h3>
                                        <a href="demo-blog-single.html" class="stretched-link color-underline">What Everyone’s Getting Wrong About the Toilet Paper Shortage</a>
                                    </h3>
                                </div>
                                <div class="entry-meta">
                                    <ul>
                                        <li>
                                            <a href="#">Mar 11, 2016</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="entry col-12">
                        <div class="grid-inner row gutter-20">
                            <div class="entry-image col-md-4">
                                <a href="demo-blog-single.html">
                                    <img src="assets/demos/blog/images/hero/3.jpg" alt="Image">
                                </a>
                            </div>
                            <div class="col-md-8">
                                <div class="entry-title title-xs">
                                    <h3>
                                        <a href="demo-blog-single.html" class="stretched-link color-underline">Designing an e-commerce site for a Cloth store — a UI/UX case</a>
                                    </h3>
                                </div>
                                <div class="entry-meta">
                                    <ul>
                                        <li>
                                            <a href="#">Mar 11, 2016</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="entry col-12">
                        <div class="grid-inner row gutter-20">
                            <div class="entry-image col-md-4">
                                <a href="demo-blog-single.html">
                                    <img src="assets/demos/blog/images/hero/4.jpg" alt="Image">
                                </a>
                            </div>
                            <div class="col-md-8">
                                <div class="entry-title title-xs">
                                    <h3>
                                        <a href="demo-blog-single.html" class="stretched-link color-underline">The Path: “I stayed loyal to those who gave me opportunities, and tried to remain humble every step of the way.”</a>
                                    </h3>
                                </div>
                                <div class="entry-meta">
                                    <ul>
                                        <li>
                                            <a href="#">Mar 11, 2016</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="entry col-12">
                        <div class="grid-inner row gutter-20">
                            <div class="entry-image col-md-4">
                                <a href="demo-blog-single.html">
                                    <img src="assets/demos/blog/images/hero/5.jpg" alt="Image">
                                </a>
                            </div>
                            <div class="col-md-8">
                                <div class="entry-title title-xs">
                                    <h3>
                                        <a href="demo-blog-single.html" class="stretched-link color-underline">Designing an e-commerce site for a Cloth store — a UI/UX case</a>
                                    </h3>
                                </div>
                                <div class="entry-meta">
                                    <ul>
                                        <li>
                                            <a href="#">Mar 11, 2016</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

            </div>
        </div>
    </div>
</div> <!-- Dark Section Spotlight End -->

<div class="container clearfix">

<div class="row col-mb-80">
<!-- Post Content
============================================= -->
<div class="postcontent col-lg-9">

    <div id="faqs" class="faqs">

        <div id="faqs-list" class="fancy-title title-bottom-border">
            <h3>Sıkça Sorulan Sorular:</h3>
        </div>

        <ul class="iconlist faqlist">
            <li>
                <i class="icon-caret-right"></i>
                <strong>
                    <a href="#" data-scrollto="#faq-1">How do I become an author?</a>
                </strong>
            </li>
            <li>
                <i class="icon-caret-right"></i>
                <strong>
                    <a href="#" data-scrollto="#faq-2">Helpful Resources for Authors</a>
                </strong>
            </li>
            <li>
                <i class="icon-caret-right"></i>
                <strong>
                    <a href="#" data-scrollto="#faq-3">How much money can I make?</a>
                </strong>
            </li>
            <li>
                <i class="icon-caret-right"></i>
                <strong>
                    <a href="#" data-scrollto="#faq-4">Can I offer my items for free on a promotional basis?</a>
                </strong>
            </li>
        </ul>

        <div class="divider">
            <i class="icon-circle"></i>
        </div>

        <h3 id="faq-1"><strong>Q.</strong> How do I become an author?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</p>

        <div class="divider divider-right">
            <a href="#" data-scrollto="#faqs-list">
                <i class="icon-chevron-up"></i>
            </a>
        </div>

        <h3 id="faq-2"><strong>Q.</strong> Helpful Resources for Authors</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, placeat, architecto rem dolorem dignissimos repellat veritatis in et eos doloribus magnam aliquam ipsa alias assumenda officiis quasi sapiente suscipit veniam odio voluptatum. Enim at asperiores quod velit minima officia accusamus cumque eligendi consequuntur fuga? Maiores, quasi, voluptates, exercitationem fuga voluptatibus a repudiandae expedita omnis molestiae alias repellat perferendis dolores dolor.</p>

        <div class="divider divider-right">
            <a href="#" data-scrollto="#faqs-list">
                <i class="icon-chevron-up"></i>
            </a>
        </div>

        <h3 id="faq-3"><strong>Q.</strong> How much money can I make?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempore nesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae. Asperiores, provident, esse, doloremque, adipisci eaque alias dolore molestias assumenda quasi saepe nisi ab illo ex nesciunt nobis laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam. Facilis eligendi a exercitationem nisi et placeat excepturi velit!</p>

        <div class="divider divider-right">
            <a href="#" data-scrollto="#faqs-list">
                <i class="icon-chevron-up"></i>
            </a>
        </div>

        <h3 id="faq-4"><strong>Q.</strong> Can I offer my items for free on a promotional basis?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempore nesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae. Asperiores, provident, esse, doloremque, adipisci eaque alias dolore molestias assumenda quasi saepe nisi ab illo ex nesciunt nobis laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam. Facilis eligendi a exercitationem nisi et placeat excepturi velit!</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed facere eos harum ipsum quia recusandae sunt fugit ad quaerat sapiente. Iure, ut maiores commodi voluptas ullam sunt harum autem veniam.</p>

        <div class="divider divider-right">
            <a href="#" data-scrollto="#faqs-list">
                <i class="icon-chevron-up"></i>
            </a>
        </div>
    </div>

</div><!-- .postcontent end -->
<!-- Sidebar
============================================= -->
<div class="sidebar col-lg-3">
    <div class="sidebar-widgets-wrap">

        <div class="widget widget_links clearfix">

            <h4>Sayfalar</h4>
            <ul>
                <li>
                    <a href="#">
                        <div>AESOB Hakkında</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>Tarihçe</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>Organların Görev ve Yetkileri</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>Temsil Edilen Kurumlar</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>Eski Başkanlarımız</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>Örgütlenme Şeması</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>Yönetim Kurulu Üyeleri</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>Denetim Kurulu Üyeleri</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>Disiplin Kurulu Üyeleri</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>Genelgeler</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>Duyurular</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>Haberler</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>Üye Kayıt İşlemleri</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>Blog</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>İletişim</div>
                    </a>
                </li>
            </ul>

        </div>

        <div class="widget clearfix">

            <h4>Son Yazılar</h4>
            <div class="posts-sm row col-mb-30" id="post-list-sidebar">
                <div class="entry col-12">
                    <div class="grid-inner row no-gutters">
                        <div class="col-auto">
                            <div class="entry-image">
                                <a href="#">
                                    <img src="assets/img/3.jpg" alt="Image">
                                </a>
                            </div>
                        </div>
                        <div class="col pl-3">
                            <div class="entry-title">
                                <h4>
                                    <a href="#">Lorem ipsum dolor sit amet, consectetur</a>
                                </h4>
                            </div>
                            <div class="entry-meta">
                                <ul>
                                    <li>10th July 2021</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="entry col-12">
                    <div class="grid-inner row no-gutters">
                        <div class="col-auto">
                            <div class="entry-image">
                                <a href="#">
                                    <img src="assets/img/2.jpg" alt="Image">
                                </a>
                            </div>
                        </div>
                        <div class="col pl-3">
                            <div class="entry-title">
                                <h4>
                                    <a href="#">Elit Assumenda vel amet dolorum quasi</a>
                                </h4>
                            </div>
                            <div class="entry-meta">
                                <ul>
                                    <li>10th July 2021</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="entry col-12">
                    <div class="grid-inner row no-gutters">
                        <div class="col-auto">
                            <div class="entry-image">
                                <a href="#">
                                    <img src="assets/img/1.jpg" alt="Image">
                                </a>
                            </div>
                        </div>
                        <div class="col pl-3">
                            <div class="entry-title">
                                <h4>
                                    <a href="#">Debitis nihil placeat, illum est nisi</a>
                                </h4>
                            </div>
                            <div class="entry-meta">
                                <ul>
                                    <li>10th July 2021</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="widget clearfix">

            <h4>Sosyal Medya Hesaplarımız</h4>
            <a href="#" class="social-icon si-colored si-small si-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
            </a>

            <a href="#" class="social-icon si-colored si-small si-linkedin" data-toggle="tooltip" data-placement="top" title="Linked In">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
            </a>

            <a href="#" class="social-icon si-colored si-small si-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
            </a>

            <a href="#" class="social-icon si-colored si-small si-youtube" data-toggle="tooltip" data-placement="top" title="Youtube">
                <i class="icon-youtube"></i>
                <i class="icon-youtube"></i>
            </a>

            <a href="#" class="social-icon si-colored si-small si-instagram" data-toggle="tooltip" data-placement="top" title="Instagram">
                <i class="icon-instagram"></i>
                <i class="icon-instagram"></i>
            </a>

        </div>

    </div>
</div><!-- .sidebar end -->
</div>

</div>

@section Scripts
{
    <script>
            jQuery(window).on('load', function () {
                var swiperParent = new Swiper('.swiper-parent', {
                    slidesPerView: 1,
                    pagination: {
                        clickable: false
                    },
                    grabCursor: true,
                    navigation: {
                        prevEl: '.slider-arrow-left',
                        nextEl: '.slider-arrow-right'
                    },
                });
            });
        </script>
}
