@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

 <!-- Document Wrapper
 ============================================= -->
 <div id="wrapper">
 
     <div id="top-bar">
         <div class="container clearfix">

             <div class="row justify-content-between align-items-center">

                 <div class="col-12 col-md-auto">
                     <!-- Top Social
                     ============================================= -->
                     <ul id="top-social">
                         <li><a href="#" class="si-facebook"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>
                         <li><a href="#" class="si-twitter"><span class="ts-icon"><i class="icon-twitter"></i></span><span class="ts-text">Twitter</span></a></li>
                         <li><a href="#" class="si-instagram"><span class="ts-icon"><i class="icon-instagram2"></i></span><span class="ts-text">Instagram</span></a></li>
                         <li><a href="#" class="si-youtube"><span class="ts-icon"><i class="icon-youtube"></i></span><span class="ts-text">Youtube</span></a></li>
                     </ul><!-- #top-social end -->

                 </div>

                 <div class="col-12 col-md-auto">
                     
                     <!-- Top Links
                     ================== ========================== -->
                     <div class="top-links">
                         <!-- weather widget start --><div id="m-booked-small-t3-91900"> <div class="booked-weather-160x36 w160x36-03" style="color:#333333; border-radius:4px; -moz-border-radius:4px; border:none"> <div style="color:#08488D;" class="booked-bl-simple-city">Adıyaman</div> <div class="booked-weather-160x36-degree"><span class="plus">+</span>27&deg;<span>C</span></div> </div> </div>
                         <script type="text/javascript">var css_file=document.createElement("link"); var widgetUrl = location.href; css_file.setAttribute("rel","stylesheet"); css_file.setAttribute("type","text/css"); css_file.setAttribute("href",'https://s.bookcdn.com/css/w/bw-160-36.css?v=0.0.1'); document.getElementsByTagName("head")[0].appendChild(css_file); function setWidgetData_91900(data) { if(typeof(data) != 'undefined' && data.results.length > 0) { for(var i = 0; i < data.results.length; ++i) { var objMainBlock = document.getElementById('m-booked-small-t3-91900'); if(objMainBlock !== null) { var copyBlock = document.getElementById('m-bookew-weather-copy-'+data.results[i].widget_type); objMainBlock.innerHTML = data.results[i].html_code; if(copyBlock !== null) objMainBlock.appendChild(copyBlock); } } } else { alert('data=undefined||data.results is empty'); } } var widgetSrc = "https://widgets.booked.net/weather/info?action=get_weather_info;ver=7;cityID=41415;type=13;scode=2;ltid=3457;domid=;anc_id=65419;countday=undefined;cmetric=1;wlangID=21;color=fff5d9;wwidth=158;header_color=fff5d9;text_color=333333;link_color=08488D;border_form=3;footer_color=fff5d9;footer_text_color=333333;transparent=1;v=0.0.1";widgetSrc += ';ref=' + widgetUrl;widgetSrc += ';rand_id=91900';var weatherBookedScript = document.createElement("script"); weatherBookedScript.setAttribute("type", "text/javascript"); weatherBookedScript.src = widgetSrc; document.body.appendChild(weatherBookedScript)</script><!-- weather widget end -->
                     </div><!-- .top-links end -->

                 </div>
             </div>

         </div>
     </div>

     <header id="header" data-sticky-shrink="false" class="no-sticky">
         <div class="container">
             <div class="header-row">

                 <!-- Logo
                 ============================================= -->
                 <div id="logo" class="ml-auto ml-lg-0 mr-lg-auto">
                     <a href="index.html" class="standard-logo"><img style="margin:10px;" src="assets/img/logo-2.png" alt="Canvas Logo"></a>
                     <span style="font-size:30px;" class="ml-4">
                         Adıyaman ESOB
                     </span>
                 </div><!-- #logo end -->

                 <div class="header-misc d-none d-lg-flex">

                     <ul class="header-extras">
                         <li>
                             <i class="i-plain icon-call m-0"></i>
                             <div class="he-text">
                                 Bize Ulaşın
                                 <span>+90 ( 416 ) 216 25 36</span>
                             </div>
                         </li>
                         <li>
                             <i class="i-plain icon-whatsapp m-0"></i>
                             <div class="he-text">
                                 Whatsapp
                                 <span>+90 ( 416 ) 216 25 36</span>
                             </div>
                         </li>
                         <li>
                             <i class="i-plain icon-line2-envelope m-0"></i>
                             <div class="he-text">
                                 Email
                                 <span>aesob@adiyamanesob.org.tr</span>
                             </div>
                         </li>

                     </ul>

                 </div>

             </div>
         </div>

         <div id="header-wrap" class="">
             <div class="container">
                 <div class="header-row justify-content-between flex-row-reverse flex-lg-row justify-content-lg-center top-search-parent">

                     <div id="primary-menu-trigger">
                         <svg class="svg-trigger" viewBox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
                     </div>


                     <nav class="primary-menu with-arrows">

                         <ul class="menu-container">
                             <li class="menu-item current"><a class="menu-link" href="#"><div>Anasayfa</div></a></li>

                             <!-- ÖÖÖÖÖÖÖ -->

                             <li class="menu-item mega-menu sub-menu">
                                 <a class="menu-link" href="#" style="padding-top: 39px; padding-bottom: 39px;"><div>Kurumsal<i class="icon-angle-down"></i></div></a>
                                 <div class="mega-menu-content mega-menu-style-2" style="width: 1459.2px;">
                                     <div class="container" style="">
                                         <div class="row">
                                             <ul class="sub-menu-container mega-menu-column col-lg-4" style="">
                                                 <li class="menu-item mega-menu-title sub-menu" style="">
                                                     <h4 class="menu-title">Hakkımızda</h4>
                                                     <ul class="sub-menu-container" style="">
                                                         <li class="menu-item" style="">
                                                             <a class="menu-link" href="blog.html"><div>AESOB Hakkında</div></a>
                                                         </li>
                                                         <li class="menu-item" style="">
                                                             <a class="menu-link" href="blog-left-sidebar.html"><div>Tarihçe</div></a>
                                                         </li>
                                                         <li class="menu-item" style="">
                                                             <a class="menu-link" href="blog-both-sidebar.html"><div>Organların Görev ve Yetkileri</div></a>
                                                         </li>
                                                         <li class="menu-item" style="">
                                                             <a class="menu-link" href="blog-full-width.html"><div>Temsil Edilen Kurumlar</div></a>
                                                         </li>
                                                         <li class="menu-item" style="">
                                                             <a class="menu-link" href="blog-full-width.html"><div>Eski Başkanlarımız</div></a>
                                                         </li>
                                                     </ul>
                                                 </li>
                                             </ul>
                                             <ul class="sub-menu-container mega-menu-column col-lg-4" style="">
                                                 <li class="menu-item mega-menu-title sub-menu" style="">
                                                     <h4 class="menu-title">Organizasyon</h4>
                                                     <ul class="sub-menu-container" style="">
                                                         <li class="menu-item" style="">
                                                             <a class="menu-link" href="blog-timeline-right-sidebar.html"><div>Örgütlenme Şeması</div></a>
                                                         </li>
                                                         <li class="menu-item" style="">
                                                             <a class="menu-link" href="blog-timeline-left-sidebar.html"><div>Yönetim Kurulu Üyeleri</div></a>
                                                         </li>
                                                         <li class="menu-item" style="">
                                                             <a class="menu-link" href="blog-timeline-left-sidebar.html"><div>Denetim Kurulu Üyeleri</div></a>
                                                         </li>
                                                         <li class="menu-item" style="">
                                                             <a class="menu-link" href="blog-timeline-left-sidebar.html"><div>Disiplin Kurulu Üyeleri</div></a>
                                                         </li>
                                                     </ul>
                                                 </li>
                                             </ul>
                                             <ul class="sub-menu-container mega-menu-column col-lg-4" style="">
                                                 <li class="menu-item mega-menu-title sub-menu" style="">
                                                     <h4 class="menu-title">Diğerleri</h4>
                                                     <ul class="sub-menu-container" style="">
                                                         <li class="menu-item" style="">
                                                             <a class="menu-link" href="blog-timeline-right-sidebar.html"><div>Projeler</div></a>
                                                         </li>
                                                         <li class="menu-item" style="">
                                                             <a class="menu-link" href="blog-timeline-left-sidebar.html"><div>Mevzuatlar</div></a>
                                                         </li>
                                                         <li class="menu-item" style="">
                                                             <a class="menu-link" href="blog-timeline-left-sidebar.html"><div>Odalar</div></a>
                                                         </li>
                                                     </ul>
                                                 </li>
                                             </ul>
                                         </div>
                                     </div>
                                 </div>
                                 <button class="sub-menu-trigger icon-chevron-right"></button>
                             </li>

                             <li class="menu-item"><a class="menu-link" href="#"><div>Genelgeler</div></a></li>
                             <li class="menu-item"><a class="menu-link" href="#"><div>Üye Kayıt İşlemleri</div></a></li>
                             <li class="menu-item"><a class="menu-link" href="#"><div>Blog</div></a></li>
                             <li class="menu-item"><a class="menu-link" href="#"><div>İletişim</div></a></li>
                         </ul>

                     </nav>

                 </div>

             </div>
         </div>
     </header>
     <!-- Content
     ============================================= -->
     <section id="content">
         <div class="content-wrap pt-5" style="overflow: visible;">
             <div class="container">
                 <!-- Hero Area
     ============================================= -->
                 <div class="row border-between">
                     <div class="col-lg-8 mb-5 mb-lg-0">
                         <section id="slider" class="slider-element swiper_wrapper" style="height: 100%;">
                             <div class="slider-inner">

                                 <div class="swiper-container swiper-parent">
                                     <div class="swiper-wrapper">

                                         <!-- First Slide -->
                                         <div class="swiper-slide dark">
                                             <!-- Slider Content -->
                                             <div class="swiper-slide-bg" style="background-image: url('assets/img/1.jpg');"></div>
                                             <div class="bg-overlay-content text-overlay-mask dark align-items-end justify-content-start">
                                                 <figcaption>
                                                     <h3><strong>13. Ahilik Haftası Töreni Tedbirler kapsamında kutlandı.</strong></h3>
                                                     <div class="info">
                                                         <span class="s1"><span><i class="fa fa-clock-o"></i> 24.08.2021</span></span>
                                                     </div>
                                                 </figcaption>
                                             </div>
                                         </div>

                                         <!-- First Slide -->
                                         <div class="swiper-slide dark">
                                             <!-- Slider Content -->
                                             <div class="swiper-slide-bg" style="background-image: url('assets/img/6.jpg');"></div>
                                             <div class="bg-overlay-content text-overlay-mask dark align-items-end justify-content-start">
                                                 <figcaption>
                                                     <h3><strong>Servis Aracı Şoförü” (MYK) Belge Takdim Töreni gerçekleştirildi.</strong></h3>
                                                     <div class="info">
                                                         <span class="s1"><span><i class="fa fa-clock-o"></i> 24.08.2021</span></span>
                                                     </div>
                                                 </figcaption>
                                             </div>
                                         </div>

                                     </div>
                                     <div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
                                     <div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
                                 </div>

                             </div>
                         </section>
                     </div>

                     <div class="col-lg-4">
                         <h2 class="font-secondary font-weight-medium mb-4 h2">Duyurular</h2>

                         <div class="row posts-md col-mb-30">
                             <article class="entry col-12">
                                 <div class="grid-inner row gutter-20">
                                     <div class="entry-image col-md-4">
                                         <a href="demo-blog-single.html"><img src="assets/demos/blog/images/hero/1.jpg" alt="Image"></a>
                                     </div>
                                     <div class="col-md-8">
                                         <div class="entry-title title-xs">
                                             <h3><a href="demo-blog-single.html" class="stretched-link color-underline">SGK İl Müdürlüğünden ziyaret</a></h3>
                                         </div>
                                         <div class="entry-meta">
                                             <ul>
                                                 <li><a href="#">Mar 11, 2016</a></li>
                                             </ul>
                                         </div>
                                     </div>
                                 </div>
                             </article>

                             <article class="entry col-12">
                                 <div class="grid-inner row gutter-20">
                                     <div class="entry-image col-md-4">
                                         <a href="demo-blog-single.html"><img src="assets/demos/blog/images/hero/2.jpg" alt="Image"></a>
                                     </div>
                                     <div class="col-md-8">
                                         <div class="entry-title title-xs">
                                             <h3><a href="demo-blog-single.html" class="stretched-link color-underline">Esnaf ve Sanatkârlar Odaları Birliğinden, Aşı kampanyasına destek</a></h3>
                                         </div>
                                         <div class="entry-meta">
                                             <ul>
                                                 <li><a href="#">Mar 11, 2016</a></li>
                                             </ul>
                                         </div>
                                     </div>
                                 </div>
                             </article>

                             <article class="entry col-12">
                                 <div class="grid-inner row gutter-20">
                                     <div class="entry-image col-md-4">
                                         <a href="demo-blog-single.html"><img src="assets/demos/blog/images/hero/3.jpg" alt="Image"></a>
                                     </div>
                                     <div class="col-md-8">
                                         <div class="entry-title title-xs">
                                             <h3><a href="demo-blog-single.html" class="stretched-link color-underline">“Servis Aracı Şoförü” (MYK) Belge Takdim Töreni gerçekleştirildi.</a></h3>
                                         </div>
                                         <div class="entry-meta">
                                             <ul>
                                                 <li><a href="#">Mar 11, 2016</a></li>
                                             </ul>
                                         </div>
                                     </div>
                                 </div>
                             </article>

                             <article class="entry col-12">
                                 <div class="grid-inner row gutter-20">
                                     <div class="entry-image col-md-4">
                                         <a href="demo-blog-single.html"><img src="assets/demos/blog/images/hero/4.jpg" alt="Image"></a>
                                     </div>
                                     <div class="col-md-8">
                                         <div class="entry-title title-xs">
                                             <h3><a href="demo-blog-single.html" class="stretched-link color-underline">13. Ahilik Haftası Töreni Tedbirler kapsamında kutlandı.</a></h3>
                                         </div>
                                         <div class="entry-meta">
                                             <ul>
                                                 <li><a href="#">Mar 11, 2016</a></li>
                                             </ul>
                                         </div>
                                     </div>
                                 </div>
                             </article>

                             <!-- <article class="entry col-12">
                     <div class="grid-inner row gutter-20">
                         <div class="entry-image col-md-4">
                             <a href="demo-blog-single.html"><img src="assets/demos/blog/images/hero/1.jpg" alt="Image"></a>
                         </div>
                         <div class="col-md-8">
                             <div class="entry-title title-xs">
                                 <h3><a href="demo-blog-single.html" class="stretched-link color-underline">Esnaf ve Sanatkârlar Odaları Birliğinden, Aşı kampanyasına destek</a></h3>
                             </div>
                             <div class="entry-meta">
                                 <ul>
                                     <li><a href="#">Mar 11, 2016</a></li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                 </article> -->
                         </div>

                     </div>
                 </div> <!-- Hero Area End -->
             </div>

             <div class="container">
                                                         <!-- Subscribe Section
     ============================================= -->
     <div class="section section-colored rounded px-4">
         <div class="row justify-content-center align-items-center">
             <div class="col-lg-5">
                 <h3 class="mb-4 mb-lg-0">Güncellemeleri ve duyuruları kaçırma!</h3>
             </div>
             <div class="col-lg-6">
                 <div class="widget subscribe-widget" data-loader="button">

                     <div class="widget-subscribe-form-result"></div>
                     <form id="widget-subscribe-form" action="include/subscribe.php" method="post" class="mb-0 d-flex">
                         <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control form-control-lg not-dark required email" placeholder="Email adresi">
                         <button class="button button-large button-black button-dark font-weight-medium ls0 button-rounded m-0 ml-3" type="submit">Şimdi Abone Ol</button>
                     </form>
                 </div>
             </div>
         </div>
     </div> <!-- Subscribe Section End -->
             </div>

             <div class="section dark" style="padding: 100px 0;">

 				<div class="container">
 					<div class="heading-block mw-xs mx-auto text-center mb-6">
 						<h3 class="text-white nott ls0">Hızlı Erişim</h3>
 					</div>
 					<div class="row services-grid gutter-30 position-relative">
 						<div style="background-image: url(assets/demos/finance/images/grid.svg); position: absolute; top: 50%; left: 50%; width: 50vw; height: 50vh; opacity: .15; transform: translate(-50%, -50%);"></div>
 						<img class="op-05" src="assets/demos/finance/images/grid.svg" alt="Grid Image" style="position: absolute; left: -20px; top: -30px; z-index: -1;">
 						
                         <div class="col-lg-4 col-md-6 d-flex align-self-stretch">
 							<div class="feature-box flex-column h-shadow mx-0" style="background-image: linear-gradient(#2646532b, #264653f7), url('assets/demos/finance/images/services/1.jpg')">
 								<a href="#">
                                 <div class="fbox-icon mb-4">
 									<i class="icon-line-dollar-sign color-2"></i>
 								</div>                                    
 								<div class="fbox-content">
 									<h4 class="font-body font-weight-semibold h4 mb-4 mt-2 ls0 nott">Financial Services</h4>
 									<p>Globally mesh multifunctional without competitive benefits. Synergistically procrastinate effective.</p>
 								</div>
                                 </a>
 							</div>
 						</div>

 						<div class="col-lg-4 col-md-6 d-flex align-self-stretch">
 							<div class="feature-box flex-column h-shadow mx-0" style="background-image: linear-gradient(#2646532b, #264653f7), url('assets/demos/finance/images/services/2.jpg')">
 								<a href="#">
                                 <div class="fbox-icon mb-4">
 									<i class="icon-line-paper color-2"></i>
 								</div>
 								<div class="fbox-content">
 									<h4 class="font-body font-weight-semibold h4 mb-4 mt-2 ls0 nott"> Audit &amp; Taxes</h4>
 									<p>Appropriately parallel task mission-critical communities after team building quality vectors seamlessly promote.</p>
 								</div>
                                 </a>
 							</div>
 						</div>

 						<div class="col-lg-4 col-md-6 d-flex align-self-stretch">
 							<div class="feature-box flex-column h-shadow mx-0" style="background-image: linear-gradient(#264653A8, #264653), url('assets/demos/finance/images/services/3.jpg')">
 								<a href="#">
                                 <div class="fbox-icon mb-4">
 									<i class="icon-line-flag color-2"></i>
 								</div>
 								<div class="fbox-content">
 									<h4 class="font-body font-weight-semibold h4 mb-4 mt-2 ls0 nott"> Business Planning</h4>
 									<p>Globally deploy cost effective internal, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est.</p>
 								</div>
                                 </a>
 							</div>
 						</div>

 						<div class="col-lg-4 col-md-6 d-flex align-self-stretch">
 							<div class="feature-box flex-column h-shadow mx-0" style="background-image: linear-gradient(#26465398, #264653), url('assets/demos/finance/images/services/4.jpg')">
 								<a href="#">
                                 <div class="fbox-icon mb-4">
 									<i class="icon-line-users color-2"></i>
 								</div>
 								<div class="fbox-content">
 									<h4 class="font-body font-weight-semibold h4 mb-4 mt-2 ls0 nott">Acountants Experts</h4>
 									<p>Globally mesh multifunctional without competitive benefits. Synergistically procrastinate effective.</p>
 								</div>
                                 </a>
 							</div>
 						</div>

 						<div class="col-lg-4 col-md-6 d-flex align-self-stretch">
 							<div class="feature-box flex-column h-shadow mx-0" style="background-image: linear-gradient(#264653A8, #264653), url('assets/demos/finance/images/services/5.jpg')">
 								<a href="">
                                 <div class="fbox-icon mb-4">
 									<i class="icon-line-globe color-2"></i>
 								</div>
 								<div class="fbox-content">
  									<p>Appropriately parallel task mission-critical communities after team building quality vectors seamlessly promote.</p>
 								</div>
                                 </a>
 							</div>
 						</div>

 						<div class="col-lg-4 col-md-6 d-flex align-self-stretch">
 							<div class="feature-box flex-column h-shadow mx-0" style="background-image: linear-gradient(#26465398, #264653), url('assets/demos/finance/images/services/6.jpg')">
 								<a href="">
                                 <div class="fbox-icon mb-4">
 									<i class="icon-line-briefcase color-2"></i>
 								</div>
 								<div class="fbox-content">
 									<h4 class="font-body font-weight-semibold h4 mb-4 mt-2 ls0 nott"> Stocks &amp; Trades</h4>
 									<p>Globally deploy cost effective internal, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est.</p>
 								</div>
                                 </a>
 							</div>
 						</div>
 						<img src="assets/demos/finance/images/grid.svg" alt="Grid Image" class="op-05" style="position: absolute; right: -20px; bottom: 0; z-index: -1;">

 					</div>
 				</div>

 			</div>

             <div class="container">

     <!-- Video Section
============================================= -->
     <div class="d-flex justify-content-between mb-4">
         <h3 class="font-secondary font-weight-medium m-0">Adıyaman ESOB TV</h3>
         <a href="#" class="btn btn-sm btn-outline-secondary">Devamı <i class="icon-line-arrow-right"></i></a>
     </div>

     <div class="row posts-md col-mb-30">
         <div class="col-md-4">
             <article class="entry border-bottom-0 mb-0">
                 <div class="entry-image">
                     <a href="https://www.youtube.com/watch?v=P3Huse9K6Xs" data-lightbox="iframe">
                         <img src="assets/demos/blog/images/video-thumbs/1.jpg" alt="Image 3">
                         <div class="play-icon"><i class="icon-play"></i>Watch</div>
                     </a>
                 </div>
                 <div class="entry-title title-sm">
                     <h3><a href="demo-blog-single.html" class="color-underline">The Best Destinations in Asia for Solo Travel</a></h3>
                 </div>
                 <div class="entry-meta">
                     <ul>
                         <li><a href="#">Mar 11, 2016</a></li>
                     </ul>
                 </div>
             </article>
         </div>
         <div class="col-md-4">
             <article class="entry border-bottom-0 mb-0">
                 <div class="entry-image">
                     <a href="https://www.youtube.com/watch?v=P3Huse9K6Xs" data-lightbox="iframe">
                         <img src="assets/demos/blog/images/video-thumbs/2.jpg" alt="Image 3">
                         <div class="play-icon"><i class="icon-play"></i>Watch</div>
                     </a>
                 </div>
                 <div class="entry-title title-sm">
                     <h3><a href="demo-blog-single.html" class="color-underline">10 Trendy Fashion Instagram Profile You Need to Follow</a></h3>
                 </div>
                 <div class="entry-meta">
                     <ul>
                         <li><a href="#">Mar 11, 2016</a></li>
                     </ul>
                 </div>
             </article>
         </div>
         <div class="col-md-4">
             <article class="entry border-bottom-0 mb-0">
                 <div class="entry-image">
                     <a href="https://www.youtube.com/watch?v=P3Huse9K6Xs" data-lightbox="iframe">
                         <img src="assets/demos/blog/images/video-thumbs/3.jpg" alt="Image 3">
                         <div class="play-icon"><i class="icon-play"></i>Watch</div>
                     </a>
                 </div>
                 <div class="entry-title title-sm">
                     <h3><a href="demo-blog-single.html" class="color-underline">23 Top Travel Bloggers Who Inspire Us To Travel</a></h3>
                 </div>
                 <div class="entry-meta">
                     <ul>
                         <li><a href="#">Mar 11, 2016</a></li>
                     </ul>
                 </div>
             </article>
         </div>
     </div>  <!-- Video Section End -->
             </div>

             <!-- Dark Section Spotlight
 ============================================= -->
             <div class="section dark">
                 <div class="container">
                     <h2 class="font-secondary font-weight-medium">Blog Yazıları</h2>
                     <div class="row border-between">
                         <div class="col-lg-7 mb-5 mb-lg-0">
                             <!-- Post Article -->
                             <article class="entry border-bottom-0 mb-0">
                                 <div class="entry-image">
                                     <a href="demo-blog-single.html"><img src="assets/demos/blog/images/hero/full/5.jpg" alt="Image 3"></a>
                                 </div>
                                 <div class="entry-title">
                                     <h3><a href="demo-blog-single.html" class="stretched-link color-underline">Statement from Vice President Joe Biden on Record Number of Americans Filing for Unemployment</a></h3>
                                 </div>
                                 <div class="entry-meta">
                                     <ul>
                                         <li><a href="#">Mar 11, 2016</a></li>
                                     </ul>
                                 </div>
                                 <div class="entry-content">
                                     <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam esse beatae hic perferendis. Lorem ipsum dolor sit amet.</p>
                                 </div>
                             </article>
                         </div>

                         <div class="col-lg-5">
                             <h3 class="font-secondary font-weight-medium mb-4 h4">Öne Çıkanlar</h3>

                             <div class="row posts-md col-mb-30">
                                 <article class="entry col-12">
                                     <div class="grid-inner row gutter-20">
                                         <div class="entry-image col-md-4">
                                             <a href="demo-blog-single.html"><img src="assets/demos/blog/images/hero/2.jpg" alt="Image"></a>
                                         </div>
                                         <div class="col-md-8">
                                             <div class="entry-title title-xs">
                                                 <h3><a href="demo-blog-single.html" class="stretched-link color-underline">What Everyone’s Getting Wrong About the Toilet Paper Shortage</a></h3>
                                             </div>
                                             <div class="entry-meta">
                                                 <ul>
                                                     <li><a href="#">Mar 11, 2016</a></li>
                                                 </ul>
                                             </div>
                                         </div>
                                     </div>
                                 </article>

                                 <article class="entry col-12">
                                     <div class="grid-inner row gutter-20">
                                         <div class="entry-image col-md-4">
                                             <a href="demo-blog-single.html"><img src="assets/demos/blog/images/hero/3.jpg" alt="Image"></a>
                                         </div>
                                         <div class="col-md-8">
                                             <div class="entry-title title-xs">
                                                 <h3><a href="demo-blog-single.html" class="stretched-link color-underline">Designing an e-commerce site for a Cloth store — a UI/UX case</a></h3>
                                             </div>
                                             <div class="entry-meta">
                                                 <ul>
                                                     <li><a href="#">Mar 11, 2016</a></li>
                                                 </ul>
                                             </div>
                                         </div>
                                     </div>
                                 </article>

                                 <article class="entry col-12">
                                     <div class="grid-inner row gutter-20">
                                         <div class="entry-image col-md-4">
                                             <a href="demo-blog-single.html"><img src="assets/demos/blog/images/hero/4.jpg" alt="Image"></a>
                                         </div>
                                         <div class="col-md-8">
                                             <div class="entry-title title-xs">
                                                 <h3><a href="demo-blog-single.html" class="stretched-link color-underline">The Path: “I stayed loyal to those who gave me opportunities, and tried to remain humble every step of the way.”</a></h3>
                                             </div>
                                             <div class="entry-meta">
                                                 <ul>
                                                     <li><a href="#">Mar 11, 2016</a></li>
                                                 </ul>
                                             </div>
                                         </div>
                                     </div>
                                 </article>

                                 <article class="entry col-12">
                                     <div class="grid-inner row gutter-20">
                                         <div class="entry-image col-md-4">
                                             <a href="demo-blog-single.html"><img src="assets/demos/blog/images/hero/5.jpg" alt="Image"></a>
                                         </div>
                                         <div class="col-md-8">
                                             <div class="entry-title title-xs">
                                                 <h3><a href="demo-blog-single.html" class="stretched-link color-underline">Designing an e-commerce site for a Cloth store — a UI/UX case</a></h3>
                                             </div>
                                             <div class="entry-meta">
                                                 <ul>
                                                     <li><a href="#">Mar 11, 2016</a></li>
                                                 </ul>
                                             </div>
                                         </div>
                                     </div>
                                 </article>
                             </div>

                         </div>
                     </div>
                 </div>
             </div> <!-- Dark Section Spotlight End -->

             <div class="container clearfix">

                 <div class="row gutter-40 col-mb-80">
                     <!-- Post Content
         ============================================= -->
                     <div class="postcontent col-lg-9">

                         <div id="faqs" class="faqs">

                             <div id="faqs-list" class="fancy-title title-bottom-border">
                                 <h3>Sıkça Sorulan Sorular:</h3>
                             </div>

                             <ul class="iconlist faqlist">
                                 <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-1">How do I become an author?</a></strong></li>
                                 <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-2">Helpful Resources for Authors</a></strong></li>
                                 <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-3">How much money can I make?</a></strong></li>
                                 <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-4">Can I offer my items for free on a promotional basis?</a></strong></li>
                             </ul>

                             <div class="divider"><i class="icon-circle"></i></div>

                             <h3 id="faq-1"><strong>Q.</strong> How do I become an author?</h3>
                             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</p>

                             <div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>

                             <h3 id="faq-2"><strong>Q.</strong> Helpful Resources for Authors</h3>
                             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, placeat, architecto rem dolorem dignissimos repellat veritatis in et eos doloribus magnam aliquam ipsa alias assumenda officiis quasi sapiente suscipit veniam odio voluptatum. Enim at asperiores quod velit minima officia accusamus cumque eligendi consequuntur fuga? Maiores, quasi, voluptates, exercitationem fuga voluptatibus a repudiandae expedita omnis molestiae alias repellat perferendis dolores dolor.</p>

                             <div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>

                             <h3 id="faq-3"><strong>Q.</strong> How much money can I make?</h3>
                             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempore nesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae. Asperiores, provident, esse, doloremque, adipisci eaque alias dolore molestias assumenda quasi saepe nisi ab illo ex nesciunt nobis laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam. Facilis eligendi a exercitationem nisi et placeat excepturi velit!</p>

                             <div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>

                             <h3 id="faq-4"><strong>Q.</strong> Can I offer my items for free on a promotional basis?</h3>
                             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempore nesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae. Asperiores, provident, esse, doloremque, adipisci eaque alias dolore molestias assumenda quasi saepe nisi ab illo ex nesciunt nobis laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam. Facilis eligendi a exercitationem nisi et placeat excepturi velit!</p>

                             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed facere eos harum ipsum quia recusandae sunt fugit ad quaerat sapiente. Iure, ut maiores commodi voluptas ullam sunt harum autem veniam.</p>

                             <div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>
                         </div>

                     </div><!-- .postcontent end -->
                     <!-- Sidebar
                     ============================================= -->
                     <div class="sidebar col-lg-3">
                         <div class="sidebar-widgets-wrap">

                             <div class="widget widget_links clearfix">

                                 <h4>Sayfalar</h4>
                                 <ul>
                                     <li><a href="#"><div>AESOB Hakkında</div></a></li>
                                     <li><a href="#"><div>Tarihçe</div></a></li>
                                     <li><a href="#"><div>Organların Görev ve Yetkileri</div></a></li>
                                     <li><a href="#"><div>Temsil Edilen Kurumlar</div></a></li>
                                     <li><a href="#"><div>Eski Başkanlarımız</div></a></li>
                                     <li><a href="#"><div>Örgütlenme Şeması</div></a></li>
                                     <li><a href="#"><div>Yönetim Kurulu Üyeleri</div></a></li>
                                     <li><a href="#"><div>Denetim Kurulu Üyeleri</div></a></li>
                                     <li><a href="#"><div>Disiplin Kurulu Üyeleri</div></a></li>
                                     <li><a href="#"><div>Genelgeler</div></a></li>
                                     <li><a href="#"><div>Duyurular</div></a></li>
                                     <li><a href="#"><div>Haberler</div></a></li>
                                     <li><a href="#"><div>Üye Kayıt İşlemleri</div></a></li>
                                     <li><a href="#"><div>Blog</div></a></li>
                                     <li><a href="#"><div>İletişim</div></a></li>
                                 </ul>

                             </div>

                             <div class="widget clearfix">

                                 <h4>Son Yazılar</h4>
                                 <div class="posts-sm row col-mb-30" id="post-list-sidebar">
                                     <div class="entry col-12">
                                         <div class="grid-inner row no-gutters">
                                             <div class="col-auto">
                                                 <div class="entry-image">
                                                     <a href="#"><img src="assets/img/3.jpg" alt="Image"></a>
                                                 </div>
                                             </div>
                                             <div class="col pl-3">
                                                 <div class="entry-title">
                                                     <h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                                 </div>
                                                 <div class="entry-meta">
                                                     <ul>
                                                         <li>10th July 2021</li>
                                                     </ul>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>

                                     <div class="entry col-12">
                                         <div class="grid-inner row no-gutters">
                                             <div class="col-auto">
                                                 <div class="entry-image">
                                                     <a href="#"><img src="assets/img/2.jpg" alt="Image"></a>
                                                 </div>
                                             </div>
                                             <div class="col pl-3">
                                                 <div class="entry-title">
                                                     <h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
                                                 </div>
                                                 <div class="entry-meta">
                                                     <ul>
                                                         <li>10th July 2021</li>
                                                     </ul>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>

                                     <div class="entry col-12">
                                         <div class="grid-inner row no-gutters">
                                             <div class="col-auto">
                                                 <div class="entry-image">
                                                     <a href="#"><img src="assets/img/1.jpg" alt="Image"></a>
                                                 </div>
                                             </div>
                                             <div class="col pl-3">
                                                 <div class="entry-title">
                                                     <h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
                                                 </div>
                                                 <div class="entry-meta">
                                                     <ul>
                                                         <li>10th July 2021</li>
                                                     </ul>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>

                             </div>

                             <div class="widget clearfix">

                                 <h4>Sosyal Medya Hesaplarımız</h4>
                                 <a href="#" class="social-icon si-colored si-small si-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                     <i class="icon-facebook"></i>
                                     <i class="icon-facebook"></i>
                                 </a>

                                 <a href="#" class="social-icon si-colored si-small si-linkedin" data-toggle="tooltip" data-placement="top" title="Linked In">
                                     <i class="icon-linkedin"></i>
                                     <i class="icon-linkedin"></i>
                                 </a>

                                 <a href="#" class="social-icon si-colored si-small si-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                     <i class="icon-twitter"></i>
                                     <i class="icon-twitter"></i>
                                 </a>

                                 <a href="#" class="social-icon si-colored si-small si-youtube" data-toggle="tooltip" data-placement="top" title="Youtube">
                                     <i class="icon-youtube"></i>
                                     <i class="icon-youtube"></i>
                                 </a>

                                 <a href="#" class="social-icon si-colored si-small si-instagram" data-toggle="tooltip" data-placement="top" title="Instagram">
                                     <i class="icon-instagram"></i>
                                     <i class="icon-instagram"></i>
                                 </a>

                             </div>

                         </div>
                     </div><!-- .sidebar end -->
                 </div>

             </div>
         </div>
     </section><!-- #content end -->
     <!-- Footer
     ============================================= -->
     <footer id="footer">
         <div class="container">

             <!-- Footer Widgets
             ============================================= -->
             <div class="footer-widgets-wrap row col-mb-50">

                 <!-- Footer Widget 3
                 ============================================= -->
                 <div class="col-lg-2 col-sm-6">
                     <div class="widget widget_links">
                         <h4 class="mb-3 mb-sm-4 nott ls0">Hakkımızda</h4>
                         <ul>
                             <li><a href="https://codex.wordpress.org/">AESOB Hakkında</a></li>
                             <li><a href="https://wordpress.org/support/forum/requests-and-feedback">Tarihçe</a></li>
                             <li><a href="https://wordpress.org/extend/plugins/">Organların Görev ve Yetkileri</a></li>
                             <li><a href="https://wordpress.org/support/">Temsil Edilen Kurumlar</a></li>
                             <li><a href="https://wordpress.org/extend/themes/">Eski Başkanlarımız</a></li>
                         </ul>
                     </div>
                 </div>

                 <!-- Footer Widget 3
                 ============================================= -->
                 <div class="col-lg-2 col-sm-6">
                     <div class="widget widget_links">
                         <h4 class="mb-3 mb-sm-4 nott ls0">Organizasyon</h4>
                         <ul>
                             <li><a href="https://codex.wordpress.org/">Örgütlenme Şeması</a></li>
                             <li><a href="https://wordpress.org/support/forum/requests-and-feedback">Yönetim Kurulu Üyeleri</a></li>
                             <li><a href="https://wordpress.org/extend/plugins/">Denetim Kurulu Üyeleri</a></li>
                             <li><a href="https://wordpress.org/support/">Disiplin Kurulu Üyeleri</a></li>
                         </ul>
                     </div>
                 </div>

                 <!-- Footer Widget 3
                 ============================================= -->
                 <div class="col-lg-2 col-sm-6">
                     <div class="widget widget_links">
                         <h4 class="mb-3 mb-sm-4 nott ls0">Diğer</h4>
                         <ul>
                             <li><a href="https://codex.wordpress.org/">Projeler</a></li>
                             <li><a href="https://wordpress.org/support/forum/requests-and-feedback">Mevzuatlar</a></li>
                             <li><a href="https://wordpress.org/extend/plugins/">Odalar</a></li>
                             <li><a href="https://wordpress.org/support/">Haberler</a></li>
                             <li><a href="https://wordpress.org/support/">Duyurular</a></li>
                             <li><a href="https://wordpress.org/support/">Blog</a></li>
                             <li><a href="https://wordpress.org/support/">İletişim</a></li>
                         </ul>
                     </div>
                 </div>

                 <div class="col-lg-6 col-sm-6">
                     <div class="widget widget_links">
                         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12617.095726608373!2d38.25290508428607!3d37.76017464046244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1533139c5be96ea5%3A0xcbea8570c17c02c2!2sAd%C4%B1yaman%20Esnaf%20Ve%20Sanatkar%20Odalar%C4%B1%20Birli%C4%9Fi!5e0!3m2!1str!2str!4v1653588819916!5m2!1str!2str" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                     </div>
                 </div>

             </div>
         </div>

         <!-- Copyrights
         ============================================= -->
         <div id="copyrights">
             <div class="container">

                 <div class="row align-items-center justify-content-between col-mb-30">
                     <div class="col-lg-auto text-center text-lg-left">
                         Copyrights &copy; 2018 All Rights Reserved by Canvas Inc.<br>
                         <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
                     </div>

                     <div class="col-lg-auto text-center text-lg-left">
                         <div class="copyrights-menu copyright-links m-0">
                             <a href="#">Home</a>/<a href="#">About</a>/<a href="#">Features</a>/<a href="#">Portfolio</a>/<a href="#">FAQs</a>/<a href="#">Contact</a>
                         </div>
                     </div>
                 </div>

             </div>
         </div><!-- #copyrights end -->

     </footer><!-- #footer end -->

 </div><!-- #wrapper end -->
 <!-- Go To Top
 ============================================= -->
 <div id="gotoTop" class="icon-angle-up rounded-circle" style="left: 30px; right: auto;"></div>
