@page "/kvkk"
@model UI.Pages.Kvkk

@{
    ViewData["Title"] = "KVKK";
}
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>KVKK Aydınlatma Metni</h1>
            </div>
        </div>
    </div>
</div>

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="row align-items-center col-mb-80">

                <div class="col-lg-12">
                    <p><strong>KİŞİSEL VERİLERİN KORUNMASI HAKKINDA AYDINLATMA METNİ</strong></p>
                    <p>
                        Adıyaman Esnaf ve Sanatkarlar Odası bu metinde bundan sonra Adıyaman Esnaf ve Sanatkarlar Odası olarak anılacaktır. Bu halde Adıyaman Esnaf ve Sanatkarlar Odası tarafından kişisel verilerinizin hangi kapsamda işlenebileceği aşağıda açıklanmıştır.

                        <br><br>İş bu metnin karşı tarafı, Kişisel veri sahibi, kişisel verileri 6698 sayılı Kişisel Verilerin Korunması Kanunu (bundan böyle “KVK Kanunu” olarak ifade edilecektir) ve sair mevzuat hükümleri gereğince kişisel verileri toplanan, işlenen ve aktarılan kişilerdir.

                        <br><br>Veri Sorumlusu sıfatına sahip Adıyaman Esnaf ve Sanatkarlar Odası, kişisel verilerinizi işbu Aydınlatma Metninde açıklandığı şekilde, kaydedebilecek, saklayabilecek, güncelleyebilecek, mevzuatın ya da anlaşmaların izin verdiği veyahut zorunlu kıldığı durumlarda üçüncü kişilerle paylaşabilecek, aktarabilecek, sınıflandırabilecektir. Burada bahsi geçen üçüncü kişiler; yasal zorunluluk gerektirmesi halinde kamu ve/veya özel hukuk tüzel kişileri ve Adıyaman Esnaf ve Sanatkarlar Odası tabi olduğu mevzuatta belirtilen amaçlara konu faaliyetlerini yürütmek üzere hizmet aldığı veya işbirliği yaptığı üçüncü kişilerdir. KVK Kanunu ve ilgili mevzuatta sayılan şekillerde Adıyaman Esnaf ve Sanatkarlar Odası ile tarafınız arasında rıza ilişkisi devam ettiği, sözleşmenin ifası kapsamında edimlerin yerine getirilmeye devam ettiği ve aksi bir talebiniz olmadığı sürece bu verileri işleyebilecektir.

                        <br><br>Adıyaman Esnaf ve Sanatkarlar Odası, kişisel verilerin güvenliği hususuna azami hassasiyet göstermekte olup işbu aydınlatma metninde belirtilen ve tarafınızla kurulan sözleşme ilişkisi dışında kullanılmamakta, sözleşme ilişkisi dışında başka amaçlarla 3. şahıs ya da tüzel kişilerle paylaşılmamakta, faaliyet dışı hiçbir nedenle ticari amaçla kullanılmamakta ve de satılmamaktadır. Bu bilinçle kişisel veri sahiplerinin kişisel verilerini aşağıda izah edildiği surette ve mevzuat tarafından belirlenen sınırlar çerçevesinde işlemekteyiz.

                        <br><br>1- Veri Sorumlusu Hakkında

                        <br><br>Kişisel verileriniz, 6698 sayılı KVK Kanunu kapsamında Adıyaman Esnaf ve Sanatkarlar Odası tarafından işlenebilecektir. Kanun kapsamında Adıyaman Esnaf ve Sanatkarlar Odası veri sorumlusu olarak kabul edilmektedir.

                        <br><br>2- Kişisel Verilerin Toplanması, İşlenmesi ve İşleme Amaçları

                        <br><br>Kişisel verileriniz, Adıyaman Esnaf ve Sanatkarlar Odası tarafından sağlanan hizmet ve Adıyaman Esnaf ve Sanatkarlar Odası ticari faaliyetlerine bağlı olarak değişkenlik gösterebilmekle birlikte; otomatik ya da otomatik olmayan yöntemlerle, onay ve/veya imzanızla tanzim edilen işlemlere ilişkin tüm sözleşmeler/bilgilendirme formları ve sair belgelerle, Adıyaman Esnaf ve Sanatkarlar Odası yetkilisi tarafından yapılan tüm görüşmelerde (hoşgeldiniz konuşması, hizmet görüşmesi vb.) veya uzaktan bağlantı ya da data aktarımı sırasında, iletişim formu ya da Adıyaman Esnaf ve Sanatkarlar Odası ait tüm e-posta hesapları üzerinden ilettiğiniz taleplerinizle, mesaj yoluyla, Adıyaman Esnaf ve Sanatkarlar Odası birimleri ve bölümleriyle yapılan her türlü görüşmenizde, internet sitesi, mobil uygulamalar ve benzeri vasıtalarla sözlü, yazılı ya da elektronik olarak Adıyaman Esnaf ve Sanatkarlar Odası akdi ve kanuni yükümlülüklerini tam ve gereği gibi ifa edebilmesi için toplanabilecektir.

                        <br><br>Adıyaman Esnaf ve Sanatkarlar Odası tarafından aşağıda yer alanlar dahil ve bunlarla sınırlı olmaksızın bu maddede belirtilen amaçlar ile bağlantılı, sınırlı ve ölçülü şekilde işlenebilmektedir.

                        <br><br>Kimlik Bilgileriniz adınız, soyadınız, T.C. kimlik numaranız, doğum yeri ve tarihiniz, medeni haliniz, cinsiyetiniz ve sizi tanımlayabileceğimiz diğer kimlik verileriniz; İletişim Bilgileriniz adresiniz, telefon numaranız, elektronik posta adresiniz ve sair iletişim verileriniz, müşteri temsilcileri ya da çağrı merkezi standartları gereği tutulan sesli görüşme kayıtlarınız ile elektronik posta veya sair vasıtalar aracılığı ile tarafımızla iletişime geçtiğinizde elde edilen kişisel verileriniz;

                        <br><br>Muhasebesel Bilgileriniz banka hesap numaranız, IBAN numaranız, kredi kartı bilginiz, faturalama bilgileriniz gibi finansal verileriniz ya da çağrı merkezi standartları gereği tutulan sesli görüşme kayıtlarınızda verdiğiniz sair finansal verileriniz;

                        <br><br>Toplanan kişisel verileriniz, KVK Kanunu tarafından öngörülen temel ilkelere uygun olarak ve KVK Kanunu’nun 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları dahilinde işlenebilmektedir.

                        <br><br>Ayrıca, Adıyaman Esnaf ve Sanatkarlar Odası hizmetlerini kullanmak amacıyla çağrı merkezi veya internet sayfamızı ve ürünlerimizi kullandığınızda, Yetkilimizi veya internet sitemizi ziyaret ettiğinizde, Adıyaman Esnaf ve Sanatkarlar Odası nın katıldığı çeşitli organizasyonlara katıldığınızda da kişisel verileriniz işlenebilecektir.

                        <br><br>KVKK’nın 6 ncı maddesinde; Kişilerin ırkı, etnik kökeni, siyasi düşüncesi, felsefi inancı, dini, mezhebi veya diğer inançları, kılık ve kıyafeti, dernek, vakıf ya da sendika üyeliği, sağlığı, cinsel hayatı, ceza mahkûmiyeti ve güvenlik tedbirleriyle ilgili verileri ile biyometrik ve genetik verileri özel nitelikli kişisel veriler olarak sınırlı sayıda sayılmıştır. Bu halde tarafımızca bu kapsamda KVK Kanunu’na eksiksiz şekilde uyulmakta olup, iş bu sözleşme şartları ve kanun kapsamı dışında kesinlikle veri işlenmemektedir.

                        <br><br>3- İnternet Sitemizi Ziyaret - Çerezler Hakkında Bilgilendirme

                        <br><br>https://hastutunkooperatifi.com adresli internet sitemizde ve çeşitli amaçlarla çerezler kullanmakta ve bu çerezler vasıtasıyla kişisel verilerinizi işlemekteyiz. Buradaki amacımız,

                        <br><br>- İnternet sitemizin ve mobil uygulamamızın gerekli temel fonksiyonlarını gerçekleştirmek,

                        <br><br>- Siteyi ve uygulamayı analiz etmek ve performansını arttırmak,

                        <br><br>- Kişiselleştirme, hedefleme ve reklamcılık faaliyeti gerçekleştirmek

                        <br><br>- Sitenin işlevselliğini arttırmak ve kullanım kolaylığı sağlamaktır.

                        <br><br>KVK Kanunu’nun 5. ve 8. maddeleri uyarınca ve/veya ilgili mevzuattaki istisnaların varlığı halinde kişisel verileriniz mevzuat uyarınca gerekli olan hallerde rızanız doğrultusunda, aksi hallerde rızanız alınmaksızın yukarıdaki amaçlar doğrultusunda işlenebilecektir.

                        <br><br>Kullanıcılarımızın web sitesi üzerinden girmiş oldukları bilgilere 3. kişilerin erişimi engellenmiş olup kişisel bilgilerin gizliliğini korumak amacıyla sistem ve internet alt yapısı en güvenilir seviyede tutularak gerekli önlemler alınmıştır.

                        <br><br>Çerezlerin cihazınızda tutulmasını, tarayıcınızda gerekli ayarları yaparak engelleyebilirsiniz. Bu konuda detaylar için tarayıcı üreticisinin yardım seçeneğine başvurabilirsiniz.

                        <br><br>4- İşlenen Kişisel Verilerin Kimlere ve Hangi Amaçla ve Nasıl Aktarılabileceği

                        <br><br>Adıyaman Esnaf ve Sanatkarlar Odası tarafından toplanan kişisel verileriniz; 6698 sayılı KVK Kanunu’nun 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları kapsamında belirtilmiş amaçlarla sınırlı olarak,  KVK Kanunu’nun 8. ve 9. maddelerine uygun olmak suretiyle Adıyaman Esnaf ve Sanatkarlar Odası ile ilişki içerisinde olan kişilerin hukuki, teknik ve ticari güvenliğinin temini amacıyla 3. kişi ve kurumlara aktarabilecektir. Bu kişi ve kurumlar Adıyaman Esnaf ve Sanatkarlar Odası’nin; iş ortakları ve paydaşları, tedarikçileri, paydaşları ve yetkilileri, vergi ve finans danışmanları ve denetçiler de dahil olmak üzere danışmanlık aldığımız üçüncü kişiler (kargo firmaları, veri tabanı (server sağlayıcı), sms ve mail sağlayıcı… vb.) , düzenleyici ve denetleyici kurumlar, Hukuken bilgi almaya yetkili kamu kurum ve kuruluşları ve hukuken yetkili özel hukuk/kamu hukuk tüzel kişiler gibi resmi merciler dahil işi yasada belirtilen amaçlarla geliştirmek veya yürütmek üzere işbirliği yaptığımız iş ortaklarımız ve diğer üçüncü kişiler ile Kanun’un 8. ve 9. maddelerinde belirtilen kişisel veri aktarım şartları ve amaçları çerçevesinde yurt içindeki üçüncü kişilere aktarabileceği gibi yurt dışına da aktarabilecektir.

                        <br><br>5- Kişisel Verilerinizi Toplamamızın Yöntemi ve Hukuki Sebebi Nedir?

                        <br><br>Kişisel verileriniz, her türlü sözlü, yazılı ya da elektronik ortamda, yukarıda yer verilen amaçlar doğrultusunda hizmetlerimizin sunulabilmesi ve bu kapsamda Adıyaman Esnaf ve Sanatkarlar Odası’nin sözleşme ve yasadan doğan mesuliyetlerini eksiksiz ve doğru bir şekilde yerine getirebilmesi ve her halükarda Adıyaman Esnaf ve Sanatkarlar Odası’nin uygulamaları ve ticari yaşamının teamülleri uyarınca işlenmesini gerektiren süre ile sınırlı olarak işlenmekte, sürelerin dolması ardından ise silinmekte, yok edilmekte veya anonim hale getirilmektedir.

                        <br><br>Bu yöntemlerle toplanan kişisel verileriniz, KVK Kanunu tarafından öngörülen temel ilkelere uygun olarak, KVK Kanunu’nun 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları kapsamında bu metinde belirtilen amaçlarla da işlenebilmekte ve aktarılabilmektedir.

                        <br><br>Bunların yanında kanunlarda açıkça öngörülen hallerde, veri sorumlusu sıfatıyla Adıyaman Esnaf ve Sanatkarlar Odası’nin hukuki yükümlülüğünü yerine getirebilmesi için zorunlu olan, ilgili kişinin kendisi tarafından alenileştirilen, ilgili kişinin temel hak ve özgürlüklerine zarar vermemek kaydıyla veri sorumlusu sıfatını haiz Adıyaman Esnaf ve Sanatkarlar Odası meşru menfaatleri için işlenmesi zorunlu olan verileriniz, bu başlık altında belirtilen sürelerin geçmesi durumunda ancak bu cümlede tahdidi olarak sayılmış amaçların gerçekleştirilmesi için kullanılabilecektir. Bu nedenlerle saklanan kişisel verilerinize başka bir amaç ile erişilmesine izin verilmeyecek ve ancak zaruri durumlar kapsamında kullanılabilecektir. Sayılan zaruri durumların sona ermesi halinde kişisel verileriniz usulüne uygun olarak silinecek, yok edilecek veya anonim hale getirilecektir.

                        <br><br>6- KVKK Gereği Kişisel Veri İşlenmesinde Açık Rıza Aranmayan Haller Nelerdir?

                        <br><br>Aşağıda yer alan hallerden en az birinin bulunması durumunda kişisel verilerinizin Açık Rıza’nızın bulunmadığı durumlarda da işlenmesi mümkün olacaktır.

                        <br><br>    Kanunlarda açıkça öngörülmesi,
                        <br><br>o    Bir sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla sözleşmenin taraflarına ait kişisel verilerin işlenmesinin gerekli olması,
                        <br><br>o    Adıyaman Esnaf ve Sanatkarlar Odası’nin hukuki yükümlülüğünü yerine getirebilmesi için zorunlu olması,
                        <br><br>o    İlgili kişinin kendisi tarafından alenileştirilmiş olması,
                        <br><br>o    Bir hakkın tesisi, kullanılması veya korunması için veri işlemenin zorunlu olması,
                        <br><br>o    İlgili kişinin temel hak ve özgürlüklerine zarar vermemek kaydıyla, Adıyaman Esnaf ve Sanatkarlar Odası’nin meşru menfaatleri için veri işlenmesinin zorunlu olması.

                        <br><br>7- Veri Sahibi Olarak KVKK’ nın 11. maddesinde Sayılan Haklarınız Nelerdir?

                        <br><br>Kişisel verisi işlenen gerçek kişilerin KVKK’ nın 11. maddesi uyarıca sahip olduğu haklar aşağıdaki gibidir;

                        <br><br>- Kişisel veri işlenip işlenmediğini öğrenme,
                        <br><br>- Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,
                        <br><br>- Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,
                        <br><br>- Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,
                        <br><br>- Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
                        <br><br>- KVKK ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde kişisel verilerin silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
                        <br><br>- İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,
                        <br><br>- Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme.

                        <br><br>İşbu form üzerinde yer verilen hususlar ile ilgili olarak, hukuki ve teknolojik gelişmeler doğrultusunda değişiklikler söz konusu olabilecektir.

                        <br><br>Adıyaman Esnaf ve Sanatkarlar Odası, talebin niteliğine göre talebi en kısa sürede ve en geç otuz (30) gün içinde ücretsiz olarak sonuçlandıracaktır. Ancak, işlemin ayrıca bir maliyeti gerektirmesi hâlinde, tarafımızca Kişisel Verileri Koruma Kurulu tarafından belirlenen tarifedeki ücret alınacaktır.

                        <br><br>Başvurularda, ad, soyad ve başvuru yazılı ise imza, Türkiye Cumhuriyeti vatandaşları için T.C. kimlik numarası, yabancılar için uyruğu, pasaport numarası/kimlik numarası, tebligata esas yerleşim yeri veya işyeri adresi, varsa bildirime esas elektronik posta adresi, telefon veya faks numarası ve talep konusu bulunması zorunludur.

                        <br><br>Kişisel veri öznesinin sahip olduğu ve yukarıda belirtilen hakları kullanmak için yapacağı ve kullanmayı talep ettiği hakka ilişkin açıklamaları içeren başvuruda; talep ettiği hususun açık ve anlaşılır olması, talep ettiği konunun şahsı ile ilgili olması veya başkası adına hareket ediyor ise bu konuda özel olarak yetkili olması ve yetkisini belgelendirilmesi, başvurunun kimlik ve adres bilgilerini içermesi ve başvuruya kimliğini tevsik edici belgeleri eklenmesi gerekmektedir.


                        <br><br>KVKK kapsamında “Veri Sorumlusu” sıfatıyla bildiririz.

                        <br><br>Saygılarımızla,

                        <br><br>E-Posta: info@hastutunkooperatifi.com
                        <br><br>Adıyaman Esnaf ve Sanatkarlar Odası

                        KİŞİSEL VERİ HAKKINDA BAŞVURU FORMU

                        6698 Sayılı Kişisel Verilerin Korunması Kanunu’nda (“KVK Kanunu”) ilgili kişi olarak tanımlanan kişisel veri sahiplerine (“Bundan sonra “veri sahibi” olarak anılacaktır), KVK Kanunu’nun 11. maddesinde kişisel verilerinin işlenmesine ilişkin belirli haklar tanınmıştır.
                        KVK Kanunu’nun 13/1 maddesi uyarınca; veri sorumlusu olan Adıyaman Esnaf ve Sanatkarlar Odası’ya bu haklara ilişkin olarak yapılacak başvuruların yazılı olarak veya Kişisel Verilerin Korunması Kurulu (“Kurul”) tarafından belirlenen diğer yöntemlerle tarafımıza iletilmesi gerekmektedir.

                        Bu çerçevede “yazılı” olarak İşletmemize yapılacak başvuruların, işbu formun çıktısı alınarak;

                        • Elden kimlik teyitli,
                        • Noter vasıtasıyla,
                        • Mail vasıtasıyla
                        Yollarından biri kullanılarak tarafımıza iletilmesi gerekmektedir.

                        Aşağıda, yazılı başvuruların ne şekilde tarafımıza ulaştırılacağına ilişkin yazılı başvuru kanalları özelinde bilgiler verilmektedir.

                        Başvuru Yöntemi:
                        • Elden Kimlik Teyitli
                        • Noter vasıtasıyla

                        Başvuru Gönderiminde Belirtilecek Bilgi:
                        Zarfın üzerine “Adıyaman Esnaf ve Sanatkarlar Odası Kişisel Verilerin Korunması Kanunu Bilgi Talebi” yazılacaktır.

                        Yukarıda belirtilen kanallar KVK Kanunu’nun 13/1 maddesi gereğince “yazılı” başvuru kanallarıdır. Kurul’un belirleyeceği diğer yöntemler duyurulduktan sonra bu yöntemler üzerinden de başvuruların ne şekilde alınacağı Adıyaman Esnaf ve Sanatkarlar Odası tarafından duyurulacaktır.

                        Tarafımıza iletilmiş olan başvurularınız KVK Kanunu’nun 13/2 maddesi gereğince, talebin niteliğine göre talebinizin bizlere ulaştığı tarihten itibaren “en kısa sürede ve en geç otuz gün içinde” yanıtlandırılacaktır. Yanıtlarımız ilgili KVK Kanunu’nun 13. maddesi hükmü gereğince yazılı veya elektronik ortamdan tarafınıza ulaştırılacaktır.

                        A. Başvuru yapan kişinin iletişim bilgileri:

                        İsim – Soyisim:
                        TC Kimlik Numarası:
                        Telefon Numarası:
                        E-posta:
                        Adres:
                        Projeyle olan ilginiz

                        Lütfen KVK Kanunu kapsamındaki talebinizi detaylı olarak belirtiniz:

                        D. Lütfen başvurunuza vereceğimiz yanıtın tarafınıza bildirilme yöntemini seçiniz:

                        1- Adresime gönderilmesini istiyorum.
                        2- E-posta adresime gönderilmesini istiyorum.

                        İşbu başvuru formu, İşletmemiz ile olan ilişkinizi tespit ederek, varsa, İşletmemiz tarafından işlenen kişisel verilerinizi eksiksiz olarak ilgili başvurunuza doğru ve kanuni süresinde cevap verilebilmesi için tanzim edilmiştir. Hukuka aykırı ve haksız bir şekilde veri paylaşımından kaynaklanabilecek hukuki risklerin bertaraf edilmesi ve özellikle kişisel verilerinizin güvenliğinin sağlanması amacıyla, kimlik ve yetki tespiti için ek evrak ve malumat (Nüfus cüzdanı veya sürücü belgesi sureti vb.) talep etme hakkını saklı tutarız. Form kapsamında iletmekte olduğunuz taleplerinize ilişkin bilgilerin doğru ve güncel olmaması ya da yetkisiz bir başvuru yapılması halinde, söz konusu yanlış bilgi ya da yetkisiz başvuru kaynaklı taleplerden dolayı mesuliyet kabul etmemektedir.

                        Başvuruda Bulunan İlgili Kişi (Kişisel Veri Sahibi)
                        Adı Soyadı:
                        Başvuru Tarihi:
                        İmza:
                    </p>
                </div>

            </div>

        </div>
    </div>
</section>