@page "/uye-sicil-islemleri"
@model UI.Pages.MemberRegister

@{
    ViewData["Title"] = "Üye Sicil İşlemleri";
}

@section HeaderTitle
{
    <!-- Page Title
    ============================================= -->
    <section id="page-title">

        <div class="container clearfix">
            <h1>Üye Sicil İşlemleri</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Anasayfa</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Üye Sicil İşlemleri</li>
            </ol>
        </div>

    </section><!-- #page-title end -->
}

<div class="container">
    <h3>ESNAF VE SANATKAR SİCİLİ</h3>
    <p>Esnaf ve sanatkar sicil işlemleri; 5362 sayılı Esnaf ve Sanatkarlar Meslek Kuruluşları Kanunun 67–70&nbsp; nci maddeleri, Esnaf ve Sanatkar Sicil Yönetmeliği, Türkiye Esnaf ve Sanatkarlar Sicil Gazetesi Yönetmeliği ve Türk Ticaret Kanunun 5362 sayılı Kanununa aykırı olmayan ticaret siciline ilişkin&nbsp;&nbsp;&nbsp; 26 – 40 ıncı maddeleri hükümleri çerçevesinde yürütülmektedir.</p>
    <p>
        <br data-cke-filler="true">
    </p>
    <h3>ESNAF VE SANATKAR SİCİL MÜDÜRLÜĞÜ</h3>
    <p>5362 sayılı Kanun 67 inci maddesi uyarınca, esnaf ve sanatkârların sicillerinin, sağlıklı ve güvenli bir şekilde Bakanlık e-esnaf ve sanatkâr veri tabanında tutulması ve yayınlanmasını teminen ticaret davalarına bakan asliye hukuk mahkemeleri gözetiminde ve kurulu bulunduğu il idari sınırları içerisinde çalışmak üzere birlik bünyesinde ayrı bir birim olarak Esnaf ve Sanatkâr Sicil Müdürlüğü kurulur.</p>
    <p>
        <br data-cke-filler="true">
    </p>
    <h3>TESCİL (İŞE BAŞLAMA)&nbsp; İŞLEMİ</h3>
    <p><br>5362 sayılı Kanun kapsamındaki esnaf ve sanatkârlar, yanlarında çalışanlar hariç, çalışmaya başladıkları tarihten itibaren durumlarını otuz gün içinde bağlı bulundukları sicile tescil ve Esnaf ve Sanatkarlar Sicil Gazetesinde ilan ettirmekle yükümlüdürler. Bu yükümlülüğü yerine getirmediği tespit edilenler birlik tarafından ruhsat vermekle yetkili ilgili kurum ve kuruluşlara bildirilir. İlgili kurum ve kuruluşlar, sicil kaydı yapılana kadar bunların faaliyetlerini durdurur.</p>
    <p>Esnaf ve sanatkârların meslekî faaliyette bulunabilmeleri ve ilgili odaya kaydedilmeleri için sicile kayıtları şarttır ve sicile her bir meslek için ayrı kayıt yapılması gereklidir. Her bir kayıt için&nbsp; ayrı ayrı ücret alınır. Esnaf ve sanatkar sicil müdürlüğüne kayıt için gelen şahısların daha önceden aldıkları bir sicil numarası varsa bu sicil numarası üzerinden işlemleri devam ettirilir, yeni bir sicil numarası verilmez.</p>
    <p>İlgilinin, aynı odanın çalışma bölgesi içerisinde aynı meslekten dolayı ikinci bir işyeri açması durumunda bu ikinci işyeri şube olarak kaydedilir ve oda kayıt ücreti tahsil edilmez.</p>
    <p>Sicile kayıt olan esnaf ve sanatkârlara ait bilgiler sicil tarafından; elektronik ortamda, iş yerlerinin bulunduğu yerdeki meslek ve sanatları ile ilgili ihtisas odasına, iş yerleri seyyar olanların ikametgâhlarının bulunduğu yerdeki meslek ve sanatları ile ilgili ihtisas odasına; meslek ve sanatları ile ilgili ihtisas odası bulunmayanların bilgileri ise karma odaya, karma oda yoksa meslek ve sanatları ile ilgili en yakın odaya kayıt için gönderilir. İlgili oda yönetim kurulu, bu kişilerle ilgili üyelik kararlarını ilk toplantısında alır.</p>
    <p>Esnaf ve sanatkâr siciline kayıtlı iken, daha sonraki yıllarda yıllık alış veya satış tutarları ya da gayri safi iş hasılatı, esnaf ve sanatkâr sayılma hadlerini aşanlar kendileri istemedikçe ticaret siciline ve dolayısıyla Türkiye Odalar ve Borsalar Birliği bünyesindeki odalara kayda zorlanamazlar. Ancak, yıllık alış veya satış tutarları ya da gayri safi iş hasılatı, esnaf ve sanatkâr sayılma hadlerinin altı katını aşanların kayıtları, sicil marifetiyle ticaret siciline aktarılır.</p>
    <p>
        <br data-cke-filler="true">
    </p>
    <h3>SİCİL İŞLEMLERİNİN TÜRKİYE ESNAF VE SANATKARLAR SİCİL GAZETESİNDE YAYIMLANMASI</h3>
    <p>Sicile kayıt edilen ve ilanı gereken hususlar, Bakanlığın gözetim ve denetimi altında Konfederasyon tarafından Bakanlık e- esnaf ve sanatkar veri tabanı kullanılarak elektronik ortamda Türkiye Esnaf ve Sanatkarlar Sicil Gazetesinde yayımlanır.</p>
    <p>
        <br data-cke-filler="true">
    </p>
    <h3>&nbsp;SİCİL KAYDI YAPTIRMAMANIN MÜEYYİDESİ</h3>
    <p>Tescili mecburi olup da kanuni şekilde ve müddeti içinde kayıt ettirmemiş olanlar hakkında, Türk Ticaret Kanununun 35 inci maddesindeki davet hükümleri uygulanır.</p>
    <p>Buna rağmen, kayıt yükümlülüğünü yerine getirmeyenler, birlik tarafından ruhsat vermekle yetkili ilgili kurum ve kuruluşlara bildirilir. İlgili kurum ve kuruluşlar, sicil kaydı yapılana kadar bunların faaliyetlerini durdurur.</p>
</div>