@page "/organizasyon/organizasyon-semasi"
@model UI.Pages.Organization.OrganizationalChartModel
@{
}

<div class="container mt-5 mb-5">
    <img src="/upload/setting/@Model.Setting.OrganizationSchema" class="img-fluid"/>
</div>
