@page "/organizasyon/organizasyon-semasi"
@model UI.Pages.Organization.OrganizationalChartModel

@{
    ViewData["Title"] = "Örgütlenme Şeması";
    ViewData["Description"] = "Aesob örgütlenme şeması, örgütün şematik olarak hiyerarşisi";
}

@section HeaderTitle
{
    <!-- Page Title
    ============================================= -->
    <section id="page-title">

        <div class="container clearfix">
            <h1>Örgütlenme Şeması</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Anasayfa</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Örgütlenme Şeması</li>
            </ol>
        </div>

    </section><!-- #page-title end -->
}

<div class="container mt-5 mb-5">
    <img src="/upload/setting/@Model.Setting.OrganizationSchema" alt="Organizasyon şemaları" class="img-fluid"/>
</div>
