@page "/mevzuatlar"
@model UI.Pages.Legislation.Index

@{
    ViewData["Title"] = "Mevzuatlar";
}

@section HeaderTitle
{
    <!-- Page Title
    ============================================= -->
    <section id="page-title">
        <div class="container clearfix">
            <h1>Mevzuatlar</h1>
            <span>Mevzuatlarımız</span>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Anasayfa</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Mevzuatlar</li>
            </ol>
        </div>
    </section><!-- #page-title end -->
}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container">
                <ul class="list-group col-md-10">
                    @foreach (var item in Model.Legislation)
                    {
                        <li class="list-group-item">
                            <a href="/mevzuatlar/@item.SeoUrl">
                                @item.Title
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        @await Component.InvokeAsync("RightBarComponent")
    </div>
</div>