@page "/mevzuatlar/{seoUrl}"
@model UI.Pages.Legislation.LegislationSingle

@{
    ViewData["Title"] = Model.Legislation.Title;
    ViewData["Description"] = Model.Legislation.Description;
}

@section HeaderTitle
{
    <!-- Page Title
    ============================================= -->
    <section id="page-title">

        <div class="container">
            <h1 class="clearfix">Mevzuatlar</h1>
            <span>@Model.Legislation.Title</span>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Anasayfa</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@Model.Legislation.Title</li>
            </ol>
        </div>

    </section><!-- #page-title end -->
}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <!-- Post Content
            ============================================= -->
            <div class="postcontent col-lg-10 container">
            
                <div class="single-post mb-0">
            
                    <!-- Single Post
                    ============================================= -->
                    <div class="entry">
            
                        <!-- Entry Title
                        ============================================= -->
                        <div class="entry-title">
                            <h1 class="clearfix">@Model.Legislation.Title</h1>
                        </div><!-- .entry-title end -->
            
                        <!-- Entry Content
                        ============================================= -->
                        <div class="entry-content mt-0">
                            @Html.Raw(Model.Legislation.Content)
                        </div>
                    </div><!-- .entry end -->
            
                </div>
            
            </div><!-- .postcontent end -->
        </div>
        @await Component.InvokeAsync("RightBarComponent")
    </div>
</div>