@page "{seoUrl}"
@model UI.Areas.Admin.Pages.ActivityField.Detail

@{
    ViewData["Title"] = Model.ActivityField.Title + " Detay";
}

<div class="container col-md-8">
    <section>
        <div class="container section-padding pb-0">
            <div id="blog-detail">
                <div class="blog-header mb-4">
                    <h1 class="mb-0 date mb-2">@Model.ActivityField.Title</h1>
                </div>
                <p>
                    @Html.Raw(Model.ActivityField.Content)
                </p>
            </div>
            <div class="row m-0">
                <a href="/admin/activityField" class="btn btn-secondary ml-auto">Geri Dön</a>
                <a href="/admin/activityField/edit/@Model.ActivityField.Id" class="btn btn-success ml-2">
                    Düzenle
                </a>
            </div>
        </div>
    </section>
</div>