<!DOCTYPE html>
<html dir="ltr" lang="tr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="author" content="Aesob"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Document Title
    ============================================= -->
    <title>@(string.IsNullOrEmpty(ViewData["Title"]?.ToString()) ? "Adıyaman Esob" : ViewData["Title"]?.ToString() + " | Adıyaman Esob")</title>
    <meta name="description" content="@(string.IsNullOrEmpty(ViewData["Description"]?.ToString()) ? "Adıyaman esnaf ve sanatkarlar odası birliği. Detaylı bilgi için websitesini ziyaret ediniz." : ViewData["Description"]?.ToString())" />

    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;500;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" asp-append-version="true"/>
    <link rel="stylesheet" href="/assets/css/dark.css" type="text/css"/>
    <link rel="stylesheet" href="/assets/css/swiper.css" type="text/css"/>
    <link rel="stylesheet" href="/assets/css/font-icons.css" type="text/css"/>
    <link rel="stylesheet" href="/assets/css/animate.css" type="text/css"/>
    <link rel="stylesheet" href="/assets/css/magnific-popup.css" type="text/css"/>

    <link rel="stylesheet" href="/assets/css/custom.css" type="text/css"/>
</head>

<body class="stretched search-overlay">

<!-- Document Wrapper
============================================= -->
<div id="wrapper">

    @await Component.InvokeAsync("HeaderComponent")
    @await RenderSectionAsync("HeaderTitle", required: false)

    <!-- Content -->
    <section id="content">
        <div class="content-wrap pt-5" style="overflow: visible;">

            @RenderBody()

        </div>
    </section>
    <!-- #content end -->

    @await Component.InvokeAsync("FooterComponent")

</div><!-- #wrapper end -->
<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up rounded-circle" style="left: 30px; right: auto;"></div>

<!-- JavaScripts
============================================= -->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/plugins.min.js"></script>

<!-- Footer Scripts
============================================= -->
<script src="/assets/js/functions.js"></script>

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>