@page "{id:int?}"
@model UI.Areas.Admin.Pages.Project.Edit

@{
    ViewData["Title"] = "Proje Düzenle";
}

<form class="col-md-8 container" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Project.Id"/>
    <input type="hidden" asp-for="Project.Image"/>
    <h1 class="mb-5 mt-2">Proje @ViewData["ActionName"]</h1>
    @if (!string.IsNullOrEmpty(Model.Project.Image))
    {
        <div class="form-group">
            <div class="col-sm-6 p-0 mt-2">
                <img src="/upload/project/@Model.Project.Image" id="outputImage" width="100%" alt="Image to upload"/>
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            <div class="col-sm-6 p-0 mt-2 d-none">
                <img src="" id="outputImage" width="100%" alt="Image to upload"/>
            </div>
        </div>
    }

    <div class="form-group">
        <label asp-for="Project.Title"></label>
        <input asp-for="Project.Title" class="form-control"/>
        <span class="text-danger" asp-validation-for="Project.Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="Project.Content"></label>
        <textarea asp-for="Project.Content" class="form-control"></textarea>
        <span class="text-danger" asp-validation-for="Project.Content"></span>
    </div>
    <div class="form-group">
        <label asp-for="UploadFile" class="d-block"></label>
        <input type="file" accept="image/*" asp-for="UploadFile" value="/upload/project/@Model.Project.Image" onchange="loadFile(event, 'outputImage')"/>
        <span class="text-danger" asp-validation-for="UploadFile"></span>
    </div>

    <div class="row m-0">
        <a href="/admin/project/" class="btn btn-secondary ml-auto">Geri Dön</a>
        <button type="submit" class="btn btn-success ml-2">
            @ViewData["ActionName"]
        </button>
    </div>
</form>

@section scripts{

    <script src="/admin/plugins/ck-editor-5/ckeditor.js"></script>

    <script>
    let loadFile = function (event, id) {
        let output = document.getElementById(id);
        output.style.border = "none";
        if(event.target.files && event.target.files[0]) {
            let reader = new FileReader();
            reader.onload = function (e) {
                output.src = e.target.result;
            };
            reader.readAsDataURL(event.target.files[0]);
            output.parentElement.classList.remove("d-none");
        }else {
            output.src = "";
            output.parentElement.classList.add("d-none");
        }

    };
</script>

}