@page "{id:int}"
@model UI.Areas.Admin.Pages.Video.Detail

@{
    ViewData["Title"] = Model.Video.Title + " Detay";
}

<div class="container col-md-8">
    <section>
        <div class="container section-padding pb-0">
            <div id="blog-detail">
                <div class="blog-header mb-4">
                    <h1 class="mb-0 date mb-2">@Model.Video.Title</h1>
                    <img src="/upload/video/@Model.Video.Image" class="img-fluid" alt="@Model.Video.Title"/>
                </div>
                <p>
                    <iframe width="100%" height="300" src="https://www.youtube.com/embed/@Model.Video.VideoPath" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </p>
            </div>
            <div class="row m-0">
                <a href="/admin/video" class="btn btn-secondary ml-auto">Geri Dön</a>
                <a href="/admin/video/edit/@Model.Video.Id" class="btn btn-success ml-2">
                    Düzenle
                </a>
            </div>
        </div>
    </section>
</div>