@page "{id:int?}"
@model UI.Areas.Admin.Pages.AboutArticle.Edit

@{
    ViewData["Title"] = "Hakkımızda Yazısı " + ViewData["ActionName"];
}

<style>
    .ck-editor__editable_inline {
        min-height: 250px;
    }
</style>

<form class="col-md-8 container" method="post">
    <h1 class="mb-5 mt-2">Hakkımızda Yazısı @ViewData["ActionName"]</h1>
    <div class="form-group">
        <label asp-for="AboutArticle.Title"></label>
        <input asp-for="AboutArticle.Title" class="form-control">
        <span asp-validation-for="AboutArticle.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AboutArticle.Description"></label>
        <textarea asp-for="AboutArticle.Description" class="form-control"></textarea>
        <span asp-validation-for="AboutArticle.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AboutArticle.Content"></label>
        <textarea asp-for="AboutArticle.Content" class="form-control editor"></textarea>
        <span asp-validation-for="AboutArticle.Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
            @Html.CheckBoxFor(model => model.AboutArticle.IsActive, new { @class = "custom-control-input", @id = "customSwitch2" })
            <label class="custom-control-label" for="customSwitch2">Durum</label>
        </div>
    </div>
    <div class="row m-0">
        <a href="/admin/aboutArticle" class="btn btn-secondary ml-auto">Geri Dön</a>
        <button type="submit" class="btn btn-success ml-2">
            @ViewData["ActionName"]
        </button>
    </div>
</form>

@section scripts{

    <script src="/admin/plugins/ck-editor-5/ckeditor.js"></script>

    <script>
    $(function () {
        let allEditors = document.querySelectorAll('.editor');
        for (let i = 0; i < allEditors.length; ++i) {
            ClassicEditor
                .create(allEditors[i])
                .then(editor => {
                    window.editor = editor;
                })
                .catch(error => {
                });
        }
    });
</script>

}