@page "/genelgeler"
@model UI.Pages.Circulars.IndexModel

@{
    ViewData["Title"] = "Genelgeler";
}

@section HeaderTitle
{
    <!-- Page Title
    ============================================= -->
    <section id="page-title">

        <div class="container clearfix">
            <h1>Genelgeler</h1>
            <span>Genelgelerimiz</span>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Anasayfa</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Genelgeler</li>
            </ol>
        </div>

    </section><!-- #page-title end -->
}

<div class="container">
    <div class="row col-mb-80">
        <div class="col-lg-9">
            @if (Model.Years.Count <= 0)
            {
                <div class="alert alert-danger col-md-10">Genelge bulunamadı.</div>
            }
            else
            {
                <ul class="list-group col-md-10">
                    @foreach (var item in Model.Years)
                    {
                        <li class="list-group-item">
                            <a href="/genelgeler/@item">
                                @item Yılı Genelgeleri
                            </a>
                        </li>
                    }
                </ul>
            }
        </div>
        @await Component.InvokeAsync("RightBarComponent")
    </div>
</div>