@page "{id:int?}"
@model UI.Areas.Admin.Pages.News.Edit

@{
    ViewData["Title"] = "Haber " + ViewData["ActionName"];
}

<form class="col-md-8 container" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="News.Id"/>
    <input type="hidden" asp-for="News.Image"/>
    
    @if (!string.IsNullOrEmpty(Model.News.Image))
    {
        <div class="form-group">
            <div class="col-sm-6 p-0 mt-2">
                <img src="/upload/news/medium/@Model.News.Image" id="outputImage" width="100%" alt="Image to upload"/>
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            <div class="col-sm-6 p-0 mt-2 d-none">
                <img src="" id="outputImage" width="100%" alt="Image to upload"/>
            </div>
        </div>
    }
    <h1 class="mb-5 mt-2">Haber @ViewData["ActionName"]</h1>
    <div class="form-group">
        <label asp-for="UploadFile" class="d-block"></label>
        <input type="file" asp-for="UploadFile" onchange="loadFile(event, 'outputImage')"/>
        <span class="text-danger" asp-validation-for="UploadFile"></span>
    </div>
    <div class="form-group">
        <label asp-for="News.Title"></label>
        <input asp-for="News.Title" class="form-control">
        <span asp-validation-for="News.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="News.Description"></label>
        <textarea asp-for="News.Description" class="form-control"></textarea>
        <span asp-validation-for="News.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="News.Content"></label>
        <textarea asp-for="News.Content" class="form-control editor"></textarea>
        <span asp-validation-for="News.Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
            @Html.CheckBoxFor(model => model.News.IsActive, new { @class = "custom-control-input", @id = "customSwitch2" })
            <label class="custom-control-label" for="customSwitch2">Durum</label>
        </div>
    </div>
    <div class="row m-0">
        <a href="/admin/news" class="btn btn-secondary ml-auto">Geri Dön</a>
        <button type="submit" class="btn btn-success ml-2">
            @ViewData["ActionName"]
        </button>
    </div>
</form>

@section scripts{

    <script src="/admin/plugins/ck-editor-5/ckeditor.js"></script>

    <script>
        let loadFile = function (event, id) {
            let output = document.getElementById(id);
            output.style.border = "none";
            if(event.target.files && event.target.files[0]) {
                let reader = new FileReader();
                reader.onload = function (e) {
                    output.src = e.target.result;
                };
                reader.readAsDataURL(event.target.files[0]);
                output.parentElement.classList.remove("d-none");
            }else {
                output.src = "";
                output.parentElement.classList.add("d-none");
            }
        };
        
    $(function () {
        let allEditors = document.querySelectorAll('.editor');
        for (let i = 0; i < allEditors.length; ++i) {
            ClassicEditor
                .create(allEditors[i])
                .then(editor => {
                    window.editor = editor;
                })
                .catch(error => {
                });
        }
    });
</script>

}